{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load email_obfuscator %}

{% block title %}Meetingtool - {% trans "Admins" %}{% endblock %}

{% block content %}
<h1>{% trans "Tool-Admins und Sitzungsgruppen-Admins" %}</h1>
<ul>
    {% for admin in admins %}
    <li>{{ admin.get_full_name }} &lt;{{ admin.email|obfuscate }}&gt;</li>
    {% endfor %}
</ul>
<div>
    <a
        href="{% url "list_meetingtypes" %}"
        class="btn btn-default"
    >{% trans "Zurück" %}</a>
</div>
{% endblock %}
