{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <h1>{% trans "Sitzungsgruppe bearbeiten" %}</h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
        
        <table class="table">
            <tr>
                <td><a href="{% url "liststdtops" meetingtype.id %}" class="btn btn-default">{% trans "Standard-TOPs bearbeiten" %}</a></td>
                <td><a href="{% url "delpersons" meetingtype.id %}" class="btn btn-default">{% trans "Personen löschen" %}</a></td>
                <td><a href="{% url "functions" meetingtype.id %}" class="btn btn-default">{% trans "Ämter bearbeiten" %}</a></td>
            </tr>
        </table>

        <table class="table">
            <tr>
                {% if user.is_staff %}
                    <td>
                        <a href="{% url "delmt" meetingtype.id %}" class="btn btn-default">{% trans "Löschen" %}</a>
                    </td>
                {% endif %}
                <td><button type="submit" class="btn btn-default">{% trans "Ändern" %}</button></td>
                <td><a href="{% url "viewmt" meetingtype.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
