{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Sitzungsgruppe bearbeiten" %}{% endblock %}

{% block content %}
    {# JS for dual list box #}
    <script type="text/javascript">
        $(function () {
            // activate DualListbox
            $('.duallistbox').bootstrapDualListbox({
                moveOnSelect: false,
                nonSelectedListLabel: "{% trans "Nicht ausgewählt" %}",
                selectedListLabel: "{% trans "Ausgewählt" %}",
                filterTextClear: "{% trans "Alle anzeigen" %}",
                filterPlaceHolder: "{% trans "Filter" %}",
                moveSelectedLabel: "{% trans "Ausgewählte verschieben" %}",
                moveAllLabel: "{% trans "Alle verschieben" %}",
                removeSelectedLabel: "{% trans "Ausgewählte löschen" %}",
                removeAllLabel: "{% trans "Alle löschen" %}",
                infoText: "{% trans "Alle angezeigt {0}" %}",
                infoTextFiltered: '<span class="label label-warning">{% trans "Gefiltert {0} von {1}" %}</span>',
                infoTextEmpty: "{% trans "Liste leer" %}",
            });
        });
    </script>

    <h1>{% trans "Sitzungsgruppe bearbeiten" %}</h1>
    <div class="panel panel-custom">
        <div class="panel-body panel-center">
            <a href="{% url "liststdtops" meetingtype.id %}" class="asbtn-left">{% bootstrap_icon "tasks" %} {% trans "Standard-TOPs bearbeiten" %}</a>
            {% if meetingtype.attendance %}
                <a href="{% url "delpersons" meetingtype.id %}" class="asbtn">{% bootstrap_icon "user" %} {% trans "Personen löschen" %}</a>
                {% if meetingtype.attendance_with_func %}
                    <a href="{% url "functions" meetingtype.id %}" class="asbtn-right">{% bootstrap_icon "education" %} {% trans "Ämter bearbeiten" %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Allgemein" %}</legend>
            {% bootstrap_field form.name %}
            <div class="form-group">
                <label class="control-label" for="id_id">{% trans "URL-Kurzname" %}</label>
                <p class="form-control-static">{{ meetingtype.id }}</p>
            </div>
            {% bootstrap_field form.mailinglist %}
            {% bootstrap_field form.public %}
            {% bootstrap_field form.ical %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Anwesenheitsliste" %}</legend>
            {% bootstrap_field form.attendance %}
            {% bootstrap_field form.attendance_with_func %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Protokoll" %}</legend>
            {% bootstrap_field form.protokoll %}
            {% bootstrap_field form.approve %}
            {% bootstrap_field form.motion_tag %}
            {% bootstrap_field form.point_of_order_tag %}
            {% bootstrap_field form.attachment_protokoll %}
        </fieldset>
        <fieldset>
            <legend>{% trans "TOPs" %}</legend>
            {% bootstrap_field form.other_in_tops %}
            {% bootstrap_field form.attachment_tops %}
            {% bootstrap_field form.first_topid %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Rechte" %}</legend>
            <p class="help-block">{% trans "Wer Rechte hat, kann die Sitzungen der Sitzungsgruppe sehen, TOPs hinzufügen, die Protokolle lesen und kann Sitzungsleitung und Protokollant werden." %}</p>
            {% bootstrap_field form.groups %}
            {% bootstrap_field form.users %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Admin-Rechte" %}</legend>
            <p class="help-block">{% trans "Wer Admin-Rechte hat, kann diese Einstellungen bearbeiten, Sitzungen erstellen und bearbeiten, TOPs bearbeiten und umsortieren etc." %}</p>
            {% bootstrap_field form.admin_groups %}
            {% bootstrap_field form.admin_users %}
        </fieldset>
        
        <div>
            <button type="submit" class="btn btn-default asbtn-left">{% trans "Ändern" %}</button>
            <a href="{% url "viewmt" meetingtype.id %}" class="btn btn-default asbtn-right">{% trans "Abbrechen" %}</a>
        </div>
    </form>
{% endblock %}
