{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% if add %}{% trans "Sitzungsgruppe erstellen" %}{% else %}{% trans "Sitzungsgruppe bearbeiten" %}{% endif %}{% endblock %}

{% block content %}
{# JS for dual list box #}
<script>
    $(() => {
        // activate DualListbox
        $('.duallistbox').bootstrapDualListbox({
            moveOnSelect: false,
            nonSelectedListLabel: "{% trans "Nicht ausgewählt" %}",
            selectedListLabel: "{% trans "Ausgewählt" %}",
            filterTextClear: "{% trans "Alle anzeigen" %}",
            filterPlaceHolder: "{% trans "Filter" %}",
            moveSelectedLabel: "{% trans "Ausgewählte verschieben" %}",
            moveAllLabel: "{% trans "Alle verschieben" %}",
            removeSelectedLabel: "{% trans "Ausgewählte löschen" %}",
            removeAllLabel: "{% trans "Alle löschen" %}",
            infoText: "{% trans "Alle angezeigt {0}" %}",
            infoTextFiltered: '<span class="badge bg-warning">{% trans "Gefiltert {0} von {1}" %}</span>',
            infoTextEmpty: "{% trans "Liste leer" %}",
        });
    });
</script>

<h1>{% if add %}{% trans "Sitzungsgruppe erstellen" %}{% else %}{% trans "Sitzungsgruppe bearbeiten" %}{% endif %}</h1>
{% if not add %}
{% if meetingtype.tops and meetingtype.standard_tops or meetingtype.attendance %}
<div class="card panel-custom">
    <div class="card-body panel-center">
        {% if meetingtype.tops and meetingtype.standard_tops %}
        <a
            href="{% url "tops:list_stdtops" meetingtype.id %}"
            class="btn btn-secondary"
        ><span class="bi bi-list-task"></span> {% trans "Standard-TOPs bearbeiten" %}</a>
        {% endif %}
        {% if meetingtype.attendance %}
        <a
            href="{% url "persons:list_persons" meetingtype.id %}"
            class="btn btn-secondary"
        ><span class="bi bi-person-fill"></span> {% trans "Personen bearbeiten" %}</a>
        {% if meetingtype.attendance_with_func %}
        <a
            href="{% url "persons:manage_functions" meetingtype.id %}"
            class="btn btn-secondary"
        ><span class="bi bi-briefcase-fill"></span> {% trans "Ämter bearbeiten" %}</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form_errors form %}
    <fieldset>
        <legend>{% trans "Allgemein" %}</legend>
        {% bootstrap_field form.name %}
        {% bootstrap_field form.defaultmeetingtitle %}
        {% if add %}
        {% bootstrap_field form.id %}
        {% else %}
        <label
            class="form-label"
            for="id_id"
        >{% trans "URL-Kurzname" %}</label>
        <p class="form-control-plaintext">{{ meetingtype.id }}</p>
        {% endif %}
        {% bootstrap_field form.mailinglist %}
        <p class="form-text">
            {% trans "Wenn keine E-Mailadresse angegeben ist, ist das Versenden der Einladung, der TOPs oder der Protokolls nicht möglich." %}
        </p>
        {% bootstrap_field form.public %}
        {% bootstrap_field form.ical %}
    </fieldset>
    <fieldset>
        <legend>{% trans "Anwesenheitsliste" %}</legend>
        {% bootstrap_field form.attendance %}
        <div id="attendance_fields">
            {% bootstrap_field form.attendance_with_func %}
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Protokoll" %}</legend>
        {% bootstrap_field form.protokoll %}
        <div id="protokoll_fields">
            {% bootstrap_field form.pad_setting %}
            {% bootstrap_field form.write_protokoll_button %}
            {% bootstrap_field form.approve %}
            <p class="form-text">
                {% trans "Bereits erstellte Protokolle bleiben bei einer Änderung genehmigt bzw. ungenehmigt." %}
            </p>
            {% bootstrap_field form.motion_tag %}
            {% bootstrap_field form.point_of_order_tag %}
            {% bootstrap_field form.attachment_protokoll %}
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Tagesordnung" %}</legend>
        {% bootstrap_field form.tops %}
        <div id="tops_fields">
            {% bootstrap_field form.top_perms %}
            {% bootstrap_field form.top_user_edit %}
            {% bootstrap_field form.top_deadline %}
            {% bootstrap_field form.standard_tops %}
            {% bootstrap_field form.other_in_tops %}
            {% bootstrap_field form.anonymous_tops %}
            {% bootstrap_field form.attachment_tops %}
            {% bootstrap_field form.first_topid %}
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Rechte" %}</legend>
        <p class="text-muted">{% trans "Wer Rechte hat, kann die Sitzungen der Sitzungsgruppe sehen, TOPs hinzufügen, die Protokolle lesen und kann Sitzungsleitung und Protokollant werden." %}</p>
        {% bootstrap_field form.groups %}
        {% bootstrap_field form.users %}
    </fieldset>
    <fieldset>
        <legend>{% trans "Admin-Rechte" %}</legend>
        <p class="text-muted">{% trans "Wer Admin-Rechte hat, kann diese Einstellungen bearbeiten, Sitzungen erstellen und bearbeiten, TOPs bearbeiten und umsortieren etc." %}</p>
        {% bootstrap_field form.admin_groups %}
        {% bootstrap_field form.admin_users %}
    </fieldset>

    <div>
        <button
            type="submit"
            class="btn btn-secondary"
        >{% if add %}{% trans "Erstellen" %}{% else %}{% trans "Ändern" %}{% endif %}</button>
        <a
            href="{% if add %}{% url "meetingtypes:list_meetingtypes" %}{% else %}{% url "meetingtypes:view_meetingtype" meetingtype.id %}{% endif %}"
            class="btn btn-secondary"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>

<script>
    window.onload = toggleDisabled;
    document.getElementById("id_attendance").onclick = toggleDisabled;
    document.getElementById("id_protokoll").onclick = toggleDisabled;
    document.getElementById("id_tops").onclick = toggleDisabled;

    function showXIfYChecked(x,y) {
        if (document.getElementById(y).checked)
            document.getElementById(x).style.display = "block";
        else
            document.getElementById(x).style.display = "none";
    }

    function toggleDisabled() {
        showXIfYChecked("attendance_fields","id_attendance");
        showXIfYChecked("protokoll_fields","id_protokoll");
        showXIfYChecked("tops_fields","id_tops");
    }
</script>
{% endblock %}
