{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Sitzungsgruppe bearbeiten" %}{% endblock %}

{% block content %}
    {# JS for dual list box #}
    <script type="text/javascript">
        $(function () {
            // activate DualListbox
            $('.duallistbox').bootstrapDualListbox({
                moveOnSelect: false,
                nonSelectedListLabel: "{% trans "Nicht ausgewählt" %}",
                selectedListLabel: "{% trans "Ausgewählt" %}",
                filterTextClear: "{% trans "Alle anzeigen" %}",
                filterPlaceHolder: "{% trans "Filter" %}",
                moveSelectedLabel: "{% trans "Ausgewählte verschieben" %}",
                moveAllLabel: "{% trans "Alle verschieben" %}",
                removeSelectedLabel: "{% trans "Ausgewählte löschen" %}",
                removeAllLabel: "{% trans "Alle löschen" %}",
                infoText: "{% trans "Alle angezeigt {0}" %}",
                infoTextFiltered: '<span class="label label-warning">{% trans "Gefiltert {0} von {1}" %}</span>',
                infoTextEmpty: "{% trans "Liste leer" %}",
            });
        });
    </script>

    <h1>{% trans "Sitzungsgruppe bearbeiten" %}</h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
        
        <table class="table">
            <tr>
                <td><a href="{% url "liststdtops" meetingtype.id %}" class="btn btn-default">{% trans "Standard-TOPs bearbeiten" %}</a></td>
                {% if meetingtype.attendance %}
                    <td><a href="{% url "delpersons" meetingtype.id %}" class="btn btn-default">{% trans "Personen löschen" %}</a></td>
                    {% if meetingtype.attendance_with_func %}
                        <td><a href="{% url "functions" meetingtype.id %}" class="btn btn-default">{% trans "Ämter bearbeiten" %}</a></td>
                    {% endif %}
                {% endif %}
            </tr>
        </table>

        <table class="table">
            <tr>
                {% if user.is_staff %}
                    <td>
                        <a href="{% url "delmt" meetingtype.id %}" class="btn btn-default">{% trans "Löschen" %}</a>
                    </td>
                {% endif %}
                <td><button type="submit" class="btn btn-default">{% trans "Ändern" %}</button></td>
                <td><a href="{% url "viewmt" meetingtype.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
