{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Sitzungstool" %} - {% trans "Übersicht" %}{% endblock %}

{% block content %}
<h1>{% trans "Übersicht" %}</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans "Sitzungsgruppe" %}</th>
                <th>{% trans "Letzte Sitzung" %}</th>
                <th>{% trans "Nächste Sitzung" %}</th>
                <th>{% trans "Sitzung anlegen" %}</th>
                <th>{% trans "Einstellungen" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for meetingtype in mts_with_perm %}
            {% if meetingtype.permission in perms %}
            <tr>
                <td><a href="{% url "viewmt" meetingtype.id %}">{{ meetingtype }}</a></td>
                <td>
                    {% if meetingtype.last_meeting %}
                    <a href="{% url "view_meeting" meetingtype.last_meeting.id %}">{{ meetingtype.last_meeting.time | date:"D" }} {{ meetingtype.last_meeting.time | date:"SHORT_DATE_FORMAT" }} {% trans "um" %} {{ meetingtype.last_meeting.time | date:"TIME_FORMAT" }}</a>
                    {% else %}
                    {% trans "Es hat noch keine Sitzung stattgefunden." %}
                    {% endif %}
                </td>
                <td>
                    {% if meetingtype.next_meeting %}
                    <a href="{% url "view_meeting" meetingtype.next_meeting.id %}">{{ meetingtype.next_meeting.time | date:"D" }} {{ meetingtype.next_meeting.time | date:"SHORT_DATE_FORMAT" }} {% trans "um" %} {{ meetingtype.next_meeting.time | date:"TIME_FORMAT" }}</a>
                    {% else %}
                    {% trans "Derzeit ist keine Sitzung eingetragen." %}
                    {% endif %}
                </td>
                <td>
                    {% if meetingtype.admin_permission in perms %}
                    <a
                        href="{% url "add_meeting" meetingtype.id %}"
                        class="asbtn"
                    >{% bootstrap_icon "plus" %} {% trans "Sitzung anlegen" %}</a>
                    {% endif %}
                </td>
                <td>
                    {% if meetingtype.admin_permission in perms %}
                    <a
                        href="{% url "editmt" meetingtype.id %}"
                        class="asbtm"
                    >{% bootstrap_icon "cog" %} {% trans "Einstellungen" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
