{% extends "toptool_common/base.html" %}
{% load i18n %}

{% block title %}{{ meetingtype }} - {% trans "Standard-TOPs bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with name=meetingtype.name %}
            Standard-TOPs bearbeiten für {{ name }}
        {% endblocktrans %}
    </h1>
    
    <ul>
        {% for top in standardtops %}
            <li><strong>{% trans "TOP" %} {{ top.topid }}: {{ top.title }}</strong>{% if top.description %}:{% endif %}
                 <a href="{% url "editstdtop" meetingtype.id top.id%}"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url "delstdtop" meetingtype.id top.id%}"><span class="glyphicon glyphicon-trash"></span></a>
                <p>{{ top.description }}</p>
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url "editmt" meetingtype.id %}" class="btn btn-default" style="margin-right:20px;">{% trans "zurück" %}</a>
        <a href="{% url "addstdtop" meetingtype.id %}" class="btn btn-default">{% trans "Standard-TOP hinzufügen" %}</a>
    </p>
{% endblock %}
