{% load i18n %}
{% load email_obfuscator %}

<h2>
    {% blocktrans trimmed with title=meetingtype.name %}
    Kommende {{ title }}-Sitzungen
    {% endblocktrans %}
</h2>

<ul>
    {% for meeting in upcoming_meetings %}
    <li>
        {% if meetingtype.tops %}
        <a href="{% url "listtops" meetingtype.id meeting.id %}">{{ meeting.get_title }}</a>
        {% else %}
        {{ meeting.get_title }}
        {% endif %}
        {% trans "am" %}
        {{ meeting.time|date:"D" }}
        {{ meeting.time|date:"SHORT_DATE_FORMAT" }}
        {% trans "um" %}
        {{ meeting.time|date:"TIME_FORMAT" }}
        {% trans "in" %}
        {{ meeting.room | urlize }}
    </li>
    {% endfor %}
</ul>
