{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meetingtype }} - {% if search %}{% trans "Suche" %}{% else %}{% trans "Sitzungsübersicht" %}
{% endif %}{% endblock %}

{% block content %}
<h1>{{ meetingtype.name }}: {% if search %}{% trans "Suche" %}{% else %}{% trans "Alle Sitzungen" %}{% endif %}</h1>

<div class="row">

    {% if user.is_authenticated %}
    <div class="col-sm-4 col-lg-3">
        <div class="panel panel-custom">
            <div class="panel-body panel-center">
                <a
                    href="{% url "ownmts" %}"
                    class="asbtn"
                ><span class="bi bi-house-door-fill"></span> {% trans "Zurück zur Übersicht" %}</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if ical_url %}
    <div class="col-sm-4 col-lg-3">
        <div class="panel panel-custom">
            <div class="panel-body panel-center">
                <a
                    class="collapse-toggle"
                    data-toggle="collapse"
                    data-target="#ical-body"
                ><span class="bi bi-calendar3"></span> {% trans "ical-Kalender abonnieren" %}</a>
                <div
                    class="collapse in"
                    id="ical-body"
                    style="margin-top:10px;"
                >
                    <label for="icalURL">
                        {% trans 'Kopiere dir diese URL und füge sie in deinem Kalenderprogramm unter "Kalender abonnieren" ein.' %}
                    </label>
                    <input
                        id="icalURL"
                        value="{{ ical_url }}"
                        style="width:100%;"
                        readonly
                    >
                    <a
                        class="asbtn"
                        onclick="copyText()"
                        style="cursor: pointer;"
                    ><span class="bi bi-clipboard"></span> {% trans "URL kopieren" %}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if meetingtype.admin_permission in perms %}
    <div class="col-sm-8 col-lg-6">
        <div class="panel panel-custom">
            <div class="panel-body panel-center">
                <a
                    href="{% url "editmt" meetingtype.id %}"
                    class="asbtn-left"
                ><span class="bi bi-gear"></span> {% trans "Sitzungsgruppe bearbeiten" %}</a>
                <a
                    href="{% url "addmeeting" meetingtype.id %}"
                    class="asbtn"
                ><span class="bi bi-plus"></span> {% trans "Sitzung anlegen" %}</a>
                <a
                    href="{% url "addmeetingseries" meetingtype.id %}"
                    class="asbtn-right"
                ><span class="bi bi-plus"></span> <span class="bi bi-list"></span> {% trans "Sitzungsserie anlegen" %}</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<form
    method="post"
    action="{% url "searchmt" meetingtype.id %}"
>
    {% csrf_token %}
    <div class="form-group">
        <input
            type="search"
            name="query"
            value="{{ search_query }}"
            maxlength="200"
            class="form-control"
            placeholder="{% trans "Suchbegriff eingeben..." %}"
            title=""
            id="query"
        >
    </div>
</form>

<h2 class="mt-4">{% trans "Kommende Sitzungen" %}</h2>
{% if upcoming_meetings %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Sitzung" %}</th>
                <th>{% trans "Datum" %}</th>
                <th>{% trans "Zeit" %}</th>
                <th>{% trans "Raum" %}</th>
                {% if meetingtype.tops %}<th>{% trans "TOPs" %}</th>{% endif %}
                <th>{% trans "Bearbeiten" %}</th>
                {% if search %}<th>{% trans "Fundort" %}</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for meeting, location in upcoming_meetings.items %}
            <tr>
                <td>
                    <a href="{% url "viewmeeting" meetingtype.id meeting.id %}">
                        {{ meeting.get_title }}
                        {% if user == meeting.sitzungsleitung %}<span class="bi bi-person-fill"></span>{% endif %}
                        {% if meetingtype.protokoll and user in meeting.minute_takers.all %}<span class="bi bi-pencil-square"></span>{% endif %}
                    </a>
                </td>
                <td>{{ meeting.time | date:"D" }} {{ meeting.time | date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ meeting.time | date:"TIME_FORMAT" }}</td>
                <td>{{ meeting.room | urlize }}</td>
                {% if meeting.meetingtype.tops %}
                <td>
                    {% if not meeting.imported %}
                    {% if meeting.meetingtype.top_perms == "public" %}
                    {% if not meeting.topdeadline_over or meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a
                        href="{% url "addtop" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-plus"></span> {% trans "TOP eintragen" %}</a>
                    {% endif %}
                    {% elif meeting.meetingtype.top_perms == "perm" and meeting.meetingtype.permission in perms %}
                    {% if not meeting.topdeadline_over or meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a
                        href="{% url "addtop" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-plus"></span> {% trans "TOP eintragen" %}</a>
                    {% endif %}
                    {% elif meeting.meetingtype.top_perms == "admin" %}
                    {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a
                        href="{% url "addtop" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-plus"></span> {% trans "TOP eintragen" %}</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a
                        href="{% url "editmeeting" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-pencil-square"></span> {% trans "bearbeiten" %}</a>
                    {% endif %}
                    {% if meetingtype.admin_permission in perms %}
                    <a
                        href="{% url "delmeeting" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-trash"></span> {% trans "löschen" %}</a>
                    {% endif %}
                </td>
                {% if search %}
                <td>
                    {% for loc in location %}
                    {% trans loc %}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>{% if search %}{% trans "Keine Treffer in kommenden Sitzungen." %}{% else %}
    {% trans "Derzeit ist keine Sitzung eingetragen." %}{% endif %}</p>
{% endif %}

<h2>{% trans "Vergangene Sitzungen" %}</h2>
{% if past_meetings %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Sitzung" %}</th>
                <th>{% trans "Datum" %}</th>
                <th>{% trans "Zeit" %}</th>
                <th>{% trans "Raum" %}</th>
                {% if meetingtype.protokoll %}<th>{% trans "Protokoll" %}</th>{% endif %}
                <th>{% trans "Bearbeiten" %}</th>
                {% if search %}<th>{% trans "Fundort" %}</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for meeting, location in past_meetings.items %}
            <tr>
                <td><a href="{% url "viewmeeting" meetingtype.id meeting.id %}">
                        {{ meeting.get_title }}{% if user == meeting.sitzungsleitung %}
                        <span class="bi bi-person-fill"></span>{% endif %}
                        {% if meetingtype.protokoll and user in meeting.minute_takers.all %}
                        <span class="bi bi-pencil-square"></span>{% endif %}</a></td>
                <td>{{ meeting.time | date:"D" }} {{ meeting.time | date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ meeting.time | date:"TIME_FORMAT" }}</td>
                <td>{{ meeting.room | urlize }}</td>
                {% if meetingtype.protokoll %}
                <td>
                    {% if meeting.protokoll and meeting.protokoll.published %}
                    {% if meetingtype.permission in perms or meeting.protokoll.approved %}
                    <a
                        href="{% url "protokoll" meetingtype.id meeting.id "html" %}"
                        class="asbtn-left"
                    >
                        {% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} HTML</a>
                    <a
                        href="{% url "protokoll" meetingtype.id meeting.id "pdf" %}"
                        class="asbtn"
                    >
                        {% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} PDF</a>
                    <a
                        href="{% url "protokoll" meetingtype.id meeting.id "txt" %}"
                        class="asbtn-right"
                    >
                        {% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} TXT</a>
                    {% endif %}
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a
                        href="{% url "editmeeting" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-pencil-square"></span> {% trans "bearbeiten" %}</a>
                    {% endif %}
                    {% if meetingtype.admin_permission in perms %}
                    <a
                        href="{% url "delmeeting" meetingtype.id meeting.id %}"
                        class="asbtn"
                    ><span class="bi bi-trash"></span> {% trans "löschen" %}</a>
                    {% endif %}
                </td>
                {% if search %}
                <td>{% for loc in location %}{% trans loc %}{% if not forloop.last %},
                    {% endif %}{% endfor %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>{% if search %}{% trans "Keine Treffer in vergangenen Sitzungen." %}{% else %}
    {% trans "In diesem Jahr hat noch keine Sitzung stattgefunden." %}{% endif %}</p>
{% endif %}

<h2>{% trans "Archiv" %}</h2>
<nav aria-label="Archive">
    <ul class="pagination">
        {% if prev %}
        <li>
            <a
                {% if search %}href="javascript:;"
                onclick="document.getElementById('form_archive_{{ prev }}').submit();"
                {% else %}href="{% url "viewarchive" meetingtype.id prev %}"
                {% endif %}
                aria-label="Previous"
            >
                <noscript><span aria-hidden="true">&laquo;</span></noscript>
                <span class="bi bi-chevron-left"></span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <span aria-label="Previous">
                <noscript><span aria-hidden="true">&laquo;</span></noscript>
                <span class="bi bi-chevron-left"></span>
            </span>
        </li>
        {% endif %}
        {% for year in years %}
        {% if forloop.last %}
        <li class="active"><span>{{ year }}</span></li>
        {% else %}
        <li><a
                {% if search %}href="javascript:;"
                onclick="document.getElementById('form_archive_{{ year }}').submit();"
                {% else %}href="{% url "viewarchive" meetingtype.id year %}"
                {% endif %}
            >{{ year }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="disabled">
            <a
                href="#"
                aria-label="Next"
            >
                <noscript><span aria-hidden="true">&raquo;</span></noscript>
                <span class="bi bi-chevron-right"></span>
            </a>
        </li>
    </ul>
</nav>
{% if search %}
{% for year in years %}
{% if not forloop.last %}
<form
    id="form_archive_{{ year }}"
    action="{% url "searcharchive" meetingtype.id year %}"
    method="POST"
>{% csrf_token %}<input
        type="hidden"
        name="query"
        value="{{ search_query }}"
    >
</form>
{% endif %}
{% endfor %}
{% endif %}
{% if ical_url %}
<script>
    $("#ical-body").collapse();

    function copyText() {
        const input = document.getElementById("icalURL");
        input.select();
        document.execCommand("Copy");
        input.selectionEnd = input.selectionStart;
    }
</script>
{% endif %}
{% endblock %}
