{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Sitzungsübersicht" %}{% endblock %}

{% block content %}
    <h1>{{ meetingtype.name }}: {% trans "Alle Sitzungen" %}</h1>
    
    <div class="row">

        {% if user.is_authenticated and meetingtype.public %}
            <div class="col-sm-8 col-md-6 col-lg-5">
        {% elif user.is_authenticated or meetingtype.public %}
            <div class="col-sm-4 col-lg-3">
        {% endif %}
        {% if user.is_authenticated or meetingtype.public %}
                <div class="panel panel-custom">
                    <div class="panel-body panel-center">
                        {% if user.is_authenticated %}
                            <a href="{% url "ownmts" %}" class="asbtn">{% bootstrap_icon "home" %} {% trans "Zurück zur Übersicht" %}</a>
                        {% endif %}
                        {% if meetingtype.public %}
                            <a href="{% url "ical" meetingtype.id %}" class="asbtn">{% bootstrap_icon "calendar" %} {% trans "ical-Kalender abonieren" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if meetingtype.admin_permission in perms %}
            {% if meetingtype.public %}
            <div class="col-sm-10 col-lg-6">
            {% else %}
            <div class="col-sm-8 col-lg-6">
            {% endif %}
                <div class="panel panel-custom">
                    <div class="panel-body panel-center">
                        <a href="{% url "editmt" meetingtype.id %}" class="asbtn-left">{% bootstrap_icon "cog" %} {% trans "Sitzungsgruppe bearbeiten" %}</a>
                        <a href="{% url "addmeeting" meetingtype.id %}" class="asbtn">{% bootstrap_icon "plus" %} {% trans "Sitzung anlegen" %}</a>
                        <a href="{% url "addmeetingseries" meetingtype.id %}" class="asbtn-right">{% bootstrap_icon "plus" %} {% bootstrap_icon "th-list" %} {% trans "Sitzungsserie anlegen" %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <h2>{% trans "Kommende Sitzungen" %}</h2>
    {% if upcoming_meetings %}
    <div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{% trans "Sitzung" %}</th>
        <th>{% trans "Datum" %}</th>
        <th>{% trans "Zeit" %}</th>
        <th>{% trans "Raum" %}</th>
        <th>{% trans "TOPs" %}</th>
        <th>{% trans "Bearbeiten" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for meeting in upcoming_meetings %}
        <tr>
            <td><a href="{% url "viewmeeting" meetingtype.id meeting.id %}">
                    {{ meeting.get_title }}{% if user == meeting.sitzungsleitung %} {% bootstrap_icon "user" %}{% endif %}{% if user == meeting.protokollant %} {% bootstrap_icon "pencil" %}{% endif %}</a></td>
            <td>{{ meeting.time | date:"D" }} {{ meeting.time | date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ meeting.time | date:"TIME_FORMAT" }}</td>
            <td>{{ meeting.room }}</td>
            <td>
                {% if not meeting.topdeadline_over or meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    {% if not meeting.imported %}
                        <a href="{% url "addtop" meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "plus" %} {% trans "TOP eintragen" %}</a>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a href="{% url "editmeeting" meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "edit" %} {% trans "bearbeiten" %}</a>
                {% endif %}
                {% if meetingtype.admin_permission in perms %}
                    <a href="{% url "delmeeting" meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "trash" %} {% trans "löschen" %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    {% else %}
        <p>{% trans "Derzeit ist keine Sitzung eingetragen." %}</p>
    {% endif %}
    
    <h2>{% trans "Vergangene Sitzungen" %}</h2>
    {% if past_meetings %}
    <div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{% trans "Sitzung" %}</th>
        <th>{% trans "Datum" %}</th>
        <th>{% trans "Zeit" %}</th>
        <th>{% trans "Raum" %}</th>
        <th>{% trans "Protokoll" %}</th>
        <th>{% trans "Bearbeiten" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for meeting in past_meetings %}
        <tr>
            <td><a href="{% url "viewmeeting" meetingtype.id meeting.id %}">
                    {{ meeting.get_title }}{% if user == meeting.sitzungsleitung %} {% bootstrap_icon "user" %}{% endif %}{% if user == meeting.protokollant %} {% bootstrap_icon "pencil" %}{% endif %}</a></td>
            <td>{{ meeting.time | date:"D" }} {{ meeting.time | date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ meeting.time | date:"TIME_FORMAT" }}</td>
            <td>{{ meeting.room }}</td>
            <td>
                {% if meeting.protokoll %}
                    {% if meetingtype.permission in perms or meeting.protokoll.approved %}
                        <a href="{% url "protokoll" meetingtype.id meeting.id "html" %}" class="asbtn-left{% if user == meeting.protokollant %} asbtn-primary{% endif %}">{% bootstrap_icon "file" %} HTML</a>
                        <a href="{% url "protokoll" meetingtype.id meeting.id "pdf" %}" class="asbtn{% if user == meeting.protokollant %} asbtn-primary{% endif %}">{% bootstrap_icon "file" %} PDF</a>
                        <a href="{% url "protokoll" meetingtype.id meeting.id "txt" %}" class="asbtn-right{% if user == meeting.protokollant %} asbtn-primary{% endif %}">{% bootstrap_icon "file" %} TXT</a>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                    <a href="{% url "editmeeting" meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "edit" %} {% trans "bearbeiten" %}</a>
                {% endif %}
                {% if meetingtype.admin_permission in perms %}
                    <a href="{% url "delmeeting" meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "trash" %} {% trans "löschen" %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    {% else %}
        <p>{% trans "In diesem Jahr hat noch keine Sitzung stattgefunden." %}</p>
    {% endif %}

    <h2>{% trans "Archiv" %}</h2>
    <nav aria-label="Archive">
        <ul class="pagination">
            {% if prev %}
                <li>
                    <a href="{% url "viewarchive" meetingtype.id prev %}" aria-label="Previous">
                        <noscript><span aria-hidden="true">&laquo;</span></noscript>
                        {% bootstrap_icon "chevron-left" %}
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-label="Previous">
                        <noscript><span aria-hidden="true">&laquo;</span></noscript>
                        {% bootstrap_icon "chevron-left" %}
                    </span>
                </li>
            {% endif %}
            {% for year in years %}
                {% if forloop.last %}
                    <li class="active"><span>{{ year }}</span></li>
                {% else %}
                    <li><a href="{% url "viewarchive" meetingtype.id year %}">{{ year }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <noscript><span aria-hidden="true">&raquo;</span></noscript>
                    {% bootstrap_icon "chevron-right" %}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
