{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Anwesenheitsliste bearbeiten" %}{% endblock %}

{% block content %}
    <script>
        $(function() {
            var persons = [];
            {% for person in persons %}
                var obj = new Object();
                obj.id = '{{ person.id }}';
                obj.label = '{{ person }}';
                persons.push(obj);
            {% endfor %}
            
            $( "#id_person_label" ).autocomplete({
                minLength: 0,
                source: persons,
                focus: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    return false;
                },
                select: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    $("#id_person").val(ui.item.id);
                    document.addform.submit();
                }
            });
        });
    </script>

    <h1>{% trans "Anwesenheitsliste bearbeiten" %}</h1>
    
    <form name="addform" method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <button type="submit" name="addperson" class="btn btn-default">{% trans "Neue Person hinzufügen" %}</button>
    </form>

    <h2>{% trans "Anwesende" %} ({{ attendees|length }})</h2>
    <ul class="list-group">
        {% for attendee in attendees %}
            <li class="list-group-item">
                <strong>{{ attendee.name }}</strong>
                {% if meeting.meetingtype.attendance_with_func %}
                    {{ attendee.get_functions }}
                    {% if functions %}
                        <a href="{% url "editattendee" meeting.meetingtype.id meeting.id attendee.id %}">{% bootstrap_icon "edit" %}<noscript>{% trans "bearbeiten" %}</noscript></a>
                    {% endif %}
                {% endif %}
                <a href="{% url "delattendee" meeting.meetingtype.id meeting.id attendee.id %}">{% bootstrap_icon "trash" %}<noscript>{% trans "löschen" %}</noscript></a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default asbtn-left asbtn-right">{% trans "zurück" %}</a>
{% endblock %}
