{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Anwesenheitsliste bearbeiten" %}{% endblock %}

{% block content %}
    <script>
        $(function() {
            var persons = [];
            {% for person in persons %}
                var obj = new Object();
                obj.id = '{{ person.id }}';
                obj.label = '{{ person }}';
                persons.push(obj);
            {% endfor %}
            
            $( "#id_person_label" ).autocomplete({
                minLength: 0,
                source: persons,
                focus: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    return false;
                },
                select: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    $("#id_person").val(ui.item.id);
                    document.addform.submit();
                }
            });
        });
    </script>

    <h1>{% trans "Anwesenheitsliste bearbeiten" %}</h1>
    
    <form name="addform" method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    </form>

    <a href="{% url "addperson" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Neue Person hinzufügen" %}</a>

    <h2>{% trans "Anwesende" %}</h2>
    <table class="table">
        {% for attendee in attendees %}
            <tr>
                <td>{{ attendee }}</td>
                <td><a href="{% url "editattendee" meeting.meetingtype.id meeting.id attendee.id %}" class="btn btn-default">{% trans "Bearbeiten" %}</a></td>
                <td><a href="{% url "delattendee" meeting.meetingtype.id meeting.id attendee.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
            </tr>
        {% endfor %}
    </table>
    
    <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "zurück" %}</a>
{% endblock %}
