{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Person hinzufügen" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with name=meeting.meetingtype.name %}
    Person hinzufügen für Sitzungsgruppe {{ name }}
    {% endblocktrans %}
</h1>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-secondary asbtn-left"
        >{% trans "Hinzufügen" %}</button>
        <a
            href="{% url "persons:add_attendees" meeting.id %}"
            class="btn btn-secondary asbtn-right"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>
{% endblock %}
