{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Personen löschen" %}{% endblock %}

{% block content %}
    <script>
        $(function() {
            var persons = [];
            {% for person in persons %}
                var obj = new Object();
                obj.id = '{{ person.id }}';
                obj.label = '{{ person }}';
                persons.push(obj);
            {% endfor %}
            
            $( "#id_person_label" ).autocomplete({
                minLength: 0,
                source: persons,
                focus: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    return false;
                },
                select: function(event, ui) {
                    $("#id_person_label").val(ui.item.label);
                    $("#id_person").val(ui.item.id);
                    document.selectform.submit();
                }
            });
        });
    </script>

    <h1>{% trans "Personen löschen" %}</h1>
    
    <form name="selectform" method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    </form>

    <a href="{% url "editmt" meetingtype.id %}" class="btn btn-default">{% trans "zurück" %}</a>
{% endblock %}
