{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ attendee.meeting.meetingtype }} - {% trans "Person bearbeiten" %}{% endblock %}

{% block content %}
    <h1>{{ attendee.name }} {% trans "bearbeiten" %}</h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <table class="table">
            <tr>
                <td><a href="{% url "delattendee" attendee.meeting.meetingtype.id attendee.meeting.id attendee.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
                <td><button type="submit" class="btn btn-default">{% trans "Ändern" %}</button></td>
                <td><a href="{% url "addattendees" attendee.meeting.meetingtype.id attendee.meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
