{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meetingtype }} - {% trans "Person bearbeiten" %}{% endblock %}

{% block content %}
<h1>{{ person.name }} {% trans "bearbeiten" %}</h1>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-secondary"
        >{% trans "Ändern" %}</button>
        <a
            href="{% url "persons:del_person" person.id %}"
            class="btn btn-danger"
        >{% trans "Löschen" %}</a>
        <a
            href="{% url "persons:list_persons" meetingtype.id %}"
            class="btn btn-secondary"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>
{% endblock %}
