{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ attendee.meeting.meetingtype }} - {% trans "Person bearbeiten" %}{% endblock %}

{% block content %}
<h1>{{ attendee.name }} {% trans "bearbeiten" %}</h1>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-secondary"
        >{% trans "Ändern" %}</button>
        <a
            href="{% url "persons:del_attendee" attendee.id %}"
            class="btn btn-danger"
        >{% trans "Löschen" %}</a>
        <a
            href="{% url "persons:add_attendees" attendee.meeting.id %}"
            class="btn btn-secondary"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>
{% endblock %}
