{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Person bearbeiten" %}{% endblock %}

{% block content %}
<h1>{{ person.name }} {% trans "bearbeiten" %}</h1>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-default asbtn-left"
        >{% trans "Ändern" %}</button>
        <a
            href="{% url "delperson" meetingtype.id person.id %}"
            class="btn btn-default asbtn"
        >{% trans "Löschen" %}</a>
        <a
            href="{% url "persons" meetingtype.id %}"
            class="btn btn-default asbtn-right"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>
{% endblock %}
