{% extends "toptool_common/base_with_ajax.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Ämter bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with name=meetingtype.name %}
            Ämter bearbeiten für Sitzungsgruppe {{ name }}
        {% endblocktrans %}
    </h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    
        <button type="submit" class="btn btn-default">{% trans "Hinzufügen" %}</button>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Amt" %}</th>
                <th>{% trans "Amt im Plural" %}</th>
                <th>{% trans "Löschen" %}</th>
            </tr>
        </thead>
        <tbody id="sortable-table">
            {% for function in functions %}
                <tr id="function_{{function.pk }}">
                    <td><span class="glyphicon glyphicon-sort sortable-handle"></span></td>
                    <td>{{ function.name }}</td>
                    <td>{{ function.plural }}</td>
                    <td><a href="{% url "delfunction" function.meetingtype.id function.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url "editmt" meetingtype.id %}" class="btn btn-default">{% trans "zurück" %}</a>

    <script>
        $(function() {
            $("#sortable-table").sortable({
                handle: ".sortable-handle",
                update: function( event, ui ) {
                    var arrayOrder = $("#sortable-table").sortable("toArray");
                    $.ajax({
                        type: "POST",
                        url: '{% url "sortfunctions" meetingtype.id %}',
                        dataType: "json",
                        data: {
                            functions: arrayOrder
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
