{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Ämter bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with name=meetingtype.name %}
            Ämter bearbeiten für Sitzungsgruppe {{ name }}
        {% endblocktrans %}
    </h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    
        <button type="submit" class="btn btn-default">{% trans "Hinzufügen" %}</button>
    </form>

    <table class="table">
        {% for function in functions %}
            <tr>
                <td>{{ function }}</td>
                <td><a href="{% url "delfunction" function.meetingtype.id function.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
            </tr>
        {% endfor %}
    </table>
    
    <a href="{% url "editmt" meetingtype.id %}" class="btn btn-default">{% trans "zurück" %}</a>
{% endblock %}
