{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meetingtype }} - {% trans "Personen bearbeiten" %}{% endblock %}

{% block content %}
<script>
    $(() => {
        let persons = [
        {% for person in persons %}
            {
                id:'{{ person.id }}',
                label:'{{ person }}',
            }
        {% endfor %}
        ];

        $( "#id_person_label" ).autocomplete({
            minLength: 0,
            source: persons,
            focus: (event, ui) => {
                document.getElementById("id_person_label").value=ui.item.label;
                return false;
            },
            select: (event, ui) => {
                document.getElementById("id_person_label").value=ui.item.label;
                document.getElementById("id_person").value=ui.item.id;
                document.selectform.submit();
            }
        });
    });
</script>

<h1>{% trans "Personen bearbeiten" %}</h1>

<form
    name="selectform"
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form_errors form %}
    {% bootstrap_field form.person_label form_group_class="form-group" %}

    <button
        type="submit"
        name="addperson"
        class="btn btn-default asbtn-left asbtn-right"
    >{% trans "Neue Person erstellen" %}</button>
</form>

<h2>{% trans "Alle Personen" %}</h2>
<ul class="list-group">
    {% for person in persons %}
    <li class="list-group-item">
        <strong>{{ person.name }}</strong>
        {% if meetingtype.attendance_with_func %}
        {{ person.get_functions }}
        {% endif %}
        <a href="{% url "persons:edit_person" meetingtype.id person.id %}"><span class="bi bi-pencil-square"></span></a>
        <a href="{% url "persons:del_person" meetingtype.id person.id %}"><span class="bi bi-trash"></span></a>
        <br>
        <em>{% trans "Zuletzt verwendet" %}</em>: {{ person.last_selected|date:"SHORT_DATE_FORMAT" }}
        {% if person.not_selected_in_180_days %}
        <span style="color: red;"><span class="bi bi-exclamation-triangle"></span></span> {% trans "Mehr als 180 Tage nicht verwendet" %}
        {% endif %}
    </li>
    {% endfor %}
</ul>

<a
    href="{% url "edit_meetingtype" meetingtype.id %}"
    class="btn btn-default"
>{% trans "zurück" %}</a>
{% endblock %}
