{% extends "base_with_ajax.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}Meetingtool - {% trans "Profil bearbeiten" %}{% endblock %}

{% block content %}
<h1>{% trans "Profil bearbeiten" %}</h1>

{% if ical_url %}
<div class="row">
    <div class="col-md-6">
        <div class="card panel-custom">
            <div
                class="card-header collapse-toggle"
                data-bs-toggle="collapse"
                data-bs-target="#ical-body"
            ><span class="bi bi-calendar3"></span> {% trans "ical-Kalender abonnieren" %}</div>
            <div
                class="card-body collapse in"
                id="ical-body"
            >
                <p>
                    {% trans 'Kopiere dir diese URL und füge sie in deinem Kalenderprogramm unter "Kalender abonnieren" ein.' %}
                </p>
                <input
                    id="icalURL"
                    value="{{ ical_url }}"
                    style="width:100%;"
                    readonly
                >
                <a
                    class="asbtn"
                    onclick="copyText()"
                    style="cursor: pointer;"
                ><span class="bi bi-clipboard"></span> {% trans "URL in die Zwischenablage kopieren" %}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<form
    id="profileeditform"
    method="post"
    action=""
    class="profile-form"
>
    {% csrf_token %}

    {% bootstrap_form form %}
</form>

<h2>{% trans "Reihenfolge deiner Sitzungsgruppen" %}</h2>
{% url "meetingtypes:main_overview" as overview_url %}
<p>
    {% blocktrans trimmed with url=overview_url %}
    Hier kannst du deine Sitzungsgruppen für die <a href="{{ url }}">Übersicht</a> mit drag'n'drop umsortieren. Die ersten drei (oberhalb der Linie) werden in der Leiste oben angezeigt.
    {% endblocktrans %}
</p>

<div
    id="sortable-mts"
    class="list-group"
>
    {% for mt in mts_with_perm %}
    <a
        id="mt_{{ mt.pk }}"
        class="list-group-item-action"
        href="{% url "meetingtypes:view_meetingtype" mt.pk %}"
    >{{ mt }}</a>
    {% endfor %}
</div>

<script>
    $(() => {
        $("#sortable-mts").sortable({
            items: "> a",
            update: (event, ui) => {
                const arrayOrder = $("#sortable-mts").sortable("toArray");
                $.ajax({
                    type: "POST",
                    url: '{% url "userprofile:sort_meetingtypes" %}',
                    dataType: "json",
                    data: {
                        mts: arrayOrder
                    },
                    success: () => {
                        window.location.reload(true);
                    }
                });
            }
        });
    });
    {% if ical_url %}
        $("#ical-body").collapse();

        function copyText() {
            var input = document.getElementById("icalURL");
            input.select();
            document.execCommand("Copy");
            input.selectionEnd = input.selectionStart;
        }
    {% endif %}
</script>
{% endblock %}
