{% extends "base_with_ajax.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Profil bearbeiten" %}{% endblock %}

{% block content %}
    <h1>{% trans "Profil bearbeiten" %}</h1>

    <form method="post" action="" class="profile-form">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-default asbtn-left">{% trans "Ändern" %}</button>
        <a href="{% url "ownmts" %}" class="btn btn-default asbtn-right">{% trans "Abbrechen" %}</a>
    </form>

    <h2>{% trans "Reihenfolge deiner Sitzungsgruppen" %}</h2>
    <p>{% trans "Tipp: Du kannst die TOPs mit drag'n'drop umsortieren." %}</p>

    <div id="sortable-div" class="list-group">
        {% for mt in mts_with_perm %}
            <a id="mt_{{ mt.pk }}" class="list-group-item" href="{% url "viewmt" mt.pk %}">{{ mt }}</a>
        {% endfor %}
    </div>

    <script>
        $(function() {
            $("#sortable-div").sortable({
                items: "> a",
                update: function( event, ui ) {
                    var arrayOrder = $("#sortable-div").sortable("toArray");
                    $.ajax({
                        type: "POST",
                        url: '{% url "sortmeetingtypes" %}',
                        dataType: "json",
                        data: {
                            mts: arrayOrder
                        },
                        success: function() {
                            window.location.reload(true);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
