# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# python/django
*.pyc
*.pyo
*.log
*.pot

# sqlite database
/db.sqlite3*

# media directory
/media

# local files
/local

# custom templates
/templates/custom

# pytest files
/test_media
/.cache
/htmlcov
/.coverage
.idea
/venv/
/node_modules/
/.mypy_cache/
/static/
