coverage==4.4.1
Django==1.11.2
django-bootstrap3==8.2.3
django-bootstrap3-datetimepicker==2.2.3
django-ckeditor==5.3.0
django-email-obfuscator==0.1.5
django-ical==1.4
django-js-asset==0.1.1
Faker==0.7.3
icalendar==3.11.4
mixer==5.6.6
mock==2.0.0
pbr==3.1.1
pkg-resources==0.0.0
py==1.4.34
pytest==3.2.3
pytest-cov==2.5.1
pytest-django==3.1.2
python-dateutil==2.6.0
python-magic==0.4.13
pytz==2017.2
six==1.10.0
