{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Sitzungsserie erstellen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sitzungsserie erstellen" %}</h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default">{% trans "Eintragen" %}</button></td>
                <td><a href="{% url "viewmt" meetingtype.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        $(function () {
            $('.my-datetimepicker').datetimepicker({
                sideBySide: true,
                format: "DD.MM.YYYY HH:mm",
                locale: '{{ LANGUAGE_CODE }}'
            });
        });
    </script>
{% endblock %}
