{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meetingtype }} - {% trans "Sitzungsserie erstellen" %}{% endblock %}

{% block content %}
<h1>{% trans "Sitzungsserie erstellen" %}</h1>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-secondary asbtn-left"
        >{% trans "Eintragen" %}</button>
        <a
            href="{% url "meetingtypes:view_meetingtype" meetingtype.id %}"
            class="btn btn-secondary asbtn-right"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>
{% endblock %}
