{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Einladung versenden" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Einladung für {{ title }} am {{ time }} per E-Mail versenden
    {% endblocktrans %}
</h1>

{% url "viewmeeting" meeting.id as showmeeting %}
<p>
    {% blocktrans trimmed with name=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" url=showmeeting %}
    Soll die Einladung für <a href="{{ url }}">{{ name }} am {{ time }}</a> wirklich versendet werden?
    {% endblocktrans %}
</p>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    <p></p>
    <p>
        <strong>{% trans "Von" %}</strong>: {{ from_email }}
    </p>
    <p>
        <strong>{% trans "An" %}</strong>: {{ to_email }}
    </p>

    {% bootstrap_form form %}

    <div>
        <button
            type="submit"
            class="btn btn-default asbtn-left"
        >{% trans "Senden" %}</button>
        <a
            href="{% url "viewmeeting" meeting.id %}"
            class="btn btn-default asbtn-right"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>

{% endblock %}
