{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Einladung versenden" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            Einladung für {{ title }} am {{ time }} per E-Mail versenden
        {% endblocktrans %}
    </h1>
    
    {% url "viewmeeting" meeting.meetingtype.id meeting.id as showmeeting %}
    <p>
        {% blocktrans trimmed with name=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" url=showmeeting %}
            Soll die Einladung für <a href="{{ url }}">{{ name }} am {{ time }}</a> wirklich versendet werden?
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default">{% trans "Senden" %}</button></td>
                <td><a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        <table>
    </form>
    <p>
        <strong>{% trans "Von" %}</strong>: {{ from_email }}
    </p>
    <p>
        <strong>{% trans "An" %}</strong>: {{ to_email }}
    </p>
    <p>
        <strong>{% trans "Betreff" %}</strong>: {{ subject }}
    </p>
    <p>
        <strong>{% trans "Text" %}</strong>:<br />{{ text|linebreaks|urlize }}
    </p>
{% endblock %}
