{% extends "base.html" %}
{% load i18n %}
{% load email_obfuscator %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Details zur Sitzung" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>

    <div class="row toprow">
        <h4>
        <div class="col-sm-3">
            {% if meeting.previous %}
                <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.previous.id %}" class="asbtn-left">{% bootstrap_icon "chevron-left" %}<noscript>{% trans "vorherige Sitzung" %}</noscript></a>
            {% endif %}
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <a href="{% url "viewmt" meeting.meetingtype.id %}" class="asbtn">{% bootstrap_icon "list" %}&nbsp;{% trans "zurück zur Übersicht" %}</a>
        </div>
        <div class="col-sm-3">
            {% if meeting.next %}
                <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.next.id %}" class="asbtn-right" style="float: right;">{% bootstrap_icon "chevron-right" %}<noscript>{% trans "nächste Sitzung" %}</noscript></a>
            {% endif %}
        </div>
        </h4>
    </div>

    <div class="row"> 
        {% if meeting.meetingtype.tops %}
        <div class="col-sm-6">
            <div class="panel panel-custom">
                <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#top-body">{% trans "Tagesordnung" %}</div>
                <div class="collapse in" id="top-body">
                {% if meeting.imported %}
                    <div class="panel-body">
                        {% trans "siehe Protokoll" %}
                    </div>
                {% else %}
                    <div class="list-group panel-table">
                        {% for top in tops %}
                            <a href="#top{{ top.get_topid }}" class="list-group-item"><strong>{% trans "TOP" %} {{ top.get_topid }}: {{ top.title }}</strong></a>
                        {% endfor %}
                    </div>
                    {% if meeting.meetingtype.top_perms == "public" %}
                        {% if not meeting.topdeadline_over or meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                            <div class="panel-body">
                                <a href="{% url "addtop" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "plus" %}&nbsp;{% trans "TOP hinzufügen" %}</a>
                            </div>
                        {% endif %}
                    {% elif meeting.meetingtype.top_perms == "perm" and meeting.meetingtype.permission in perms %}
                        {% if not meeting.topdeadline_over or meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                            <div class="panel-body">
                                <a href="{% url "addtop" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "plus" %}&nbsp;{% trans "TOP hinzufügen" %}</a>
                            </div>
                        {% endif %}
                    {% elif meeting.meetingtype.top_perms == "admin" %}
                        {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                            <div class="panel-body">
                                <a href="{% url "addtop" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "plus" %}&nbsp;{% trans "TOP hinzufügen" %}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
            </div>

            {% if not meeting.imported %}
            <div class="panel panel-custom">
                <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#top-details-body">{% trans "Tagesordnung" %} - {% trans "Details" %}</div>
                    <ul class="list-group collapse in" id="top-details-body">
                        {% for top in tops %}
                            <li id="top{{ top.get_topid }}" class="list-group-item">
                                <div class="list-group-item-heading">
                                    <strong>{% trans "TOP" %} {{ top.get_topid }}: {{ top.title }}</strong>{%if top.author and top.email %} ({{ top.author }}, {{ top.email|obfuscate }}){% endif %}{% if top.description %}:{% endif %}
                                    {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung or meeting.meetingtype.top_user_edit and not meeting.topdeadline_over and meeting.meetingtype.permission in perms and user == top.user %}
                                        <a href="{% url "edittop" meeting.meetingtype.id meeting.id top.id%}">{% bootstrap_icon "edit" %}<noscript>{% trans "bearbeiten" %}</noscript></a>
                                        <a href="{% url "deltop" meeting.meetingtype.id meeting.id top.id%}">{% bootstrap_icon "trash" %}<noscript>{% trans "löschen" %}</noscript></a>
                                    {% endif %}
                                </div>
                                <p class="list-group-item-text">{{ top.description | safe }}</p>
                                {% if meeting.meetingtype.attachment_tops and top.attachment %}
                                    <p><a href="{% url "showattachment" meeting.meetingtype.id meeting.id top.id %}">{% bootstrap_icon "paperclip" %}{% trans "Anhang" %}</a></p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-sm-6">
            <div class="panel panel-custom">
                <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#overview-body">{% trans "Übersicht" %}</div>
                <div class="collapse in" id="overview-body">
                <table class="table table-hover panel-table">
                    <tr><th>{% trans "Zeit" %}:</th>
                        <td>{{ meeting.time | date:"D" }} {{ meeting.time | date:"SHORT_DATETIME_FORMAT" }}</td> </tr>
                    <tr><th>{% trans "Raum" %}:</th>
                        <td>{{ meeting.room }}</td> </tr>
                    {% if meeting.meetingtype.tops and meeting.meetingtype.top_deadline %}
                        <tr><th>{% trans "TOP-Deadline" %}:</th>
                            <td>{{ meeting.topdeadline | date:"D" }} {{ meeting.topdeadline | date:"SHORT_DATETIME_FORMAT" }}</td> </tr>
                    {% endif %}
                    <tr><th>{% trans "Sitzungsleitung" %}:</th>
                        <td>{{ meeting.sl }}</td> </tr>
                    {% if meeting.meetingtype.protokoll %}
                        <tr><th>{% trans "Protokollant*in" %}:</th>
                            <td>{{ meeting.pl }}
                                {% if protokollant_form %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default" style="margin-top:5px;">{% trans "Ich schreibe das Protokoll" %}</button>
                                    </form>
                                {% endif %}
                            </td> </tr>
                        <tr><th>{% if protokoll_exists and not meeting.protokoll.approved %}{% trans "Vorläufiges Protokoll" %}{% else %}{% trans "Protokoll" %}{% endif %}:</th>
                            <td>
                                {% if protokoll_exists %}
                                    {% if meeting.meetingtype.permission in perms or meeting.protokoll.approved %}
                                        <a class="asbtn-left" href="{% url "protokoll" meeting.meetingtype.id meeting.id "html" %}">{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} HTML</a>
                                        <a class="asbtn" href="{% url "protokoll" meeting.meetingtype.id meeting.id "pdf" %}">{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} PDF</a>
                                        <a class="asbtn-right" href="{% url "protokoll" meeting.meetingtype.id meeting.id "txt" %}">{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} TXT</a>
                                    {% else %}
                                        {% trans "noch nicht genehmigt" %}
                                    {% endif %}
                                {% else %}
                                    {% trans "noch nicht verfügbar" %}
                                {% endif %}
                            </td>
                        </tr>
                        {% if meeting.meetingtype.permission in perms and attachments %}
                            <tr><th>{% trans "Anhänge" %}:</th>
                                <td>
                                    <ul class="ul-noindent">
                                        {% for attachment in attachments %}
                                            <li>
                                                <strong>{% trans "Anhang" %} {{ attachment.get_attachmentid }}:</strong>
                                                <a href="{% url "showattachment_protokoll" meeting.meetingtype.id meeting.id attachment.id %}">{% bootstrap_icon "paperclip" %} {{ attachment.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
                </div>
            </div>

        {% if not meeting.meetingtype.tops and not meeting.meetingtype.attendance %}
        </div>
        <div class="col-sm-6">
        {% endif %}

            {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                <div class="panel panel-custom">
                    <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#meeting-edit-body">{% trans "Sitzung bearbeiten" %}</div>
                    <div class="panel-body collapse in" id="meeting-edit-body">
                        <p>
                            <strong>{% trans "Sitzung bearbeiten" %}:</strong>
                            <a href="{% url "editmeeting" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "edit" %}&nbsp;{% trans "Sitzung bearbeiten" %}</a>
                            {% if meeting.meetingtype.admin_permission in perms %}
                            <a href="{% url "delmeeting" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "trash" %}&nbsp;{% trans "Sitzung löschen" %}</a>
                            {% endif %}
                        </p>
                        {% if not meeting.imported and meeting.meetingtype.tops %}
                            <p>
                                <strong>{% trans "TOPs" %}:</strong>
                                <a href="{% url "interactivetops" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "list-alt" %}&nbsp;{% trans "Interaktive Tagesordnung" %}</a>
                                <a href="{% url "edittops" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "sort" %}&nbsp;{% trans "Reihenfolge der TOPs bearbeiten" %}</a>
                            </p>
                        {% endif %}
                        {% if not meeting.imported and meeting.meetingtype.attendance %}
                            <p>
                                <strong>{% trans "Anwesenheitsliste" %}:</strong>
                                <a href="{% url "addattendees" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
                            </p>
                        {% endif %}
                        {% if not meeting.imported %}
                            <p>
                                <strong>{% trans "E-Mails senden" %}:</strong>
                                <a href="{% url "sendinvitation" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "send" %}&nbsp;{% trans "Einladung verschicken" %}</a>
                                {% if meeting.meetingtype.tops %}
                                    <a href="{% url "sendtops" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "send" %}&nbsp;{% trans "Tagesordnung verschicken" %}</a>
                                {% endif %}
                                {% if meeting.meetingtype.protokoll and protokoll_exists %}
                                    <a href="{% url "sendprotokoll" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "send" %}&nbsp;{% trans "Protokoll verschicken" %}</a>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if meeting.meetingtype.protokoll and not meeting.imported %} {# and #} {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung or user == meeting.protokollant %}
                <div class="panel panel-custom">
                    <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#minutes-edit-body">{% trans "Protokoll bearbeiten" %}</div>
                    <div class="panel-body collapse in" id="minutes-edit-body">
                        <p>
                            <strong>{% trans "Protokoll schreiben" %}:</strong>
                            <a href="{% url "templates" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "save-file" %}&nbsp;{% trans "Vorlage herunterladen" %}</a>
                            {% if meeting.meetingtype.pad %}
                                <a href="{% url "pad" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "cloud" %}&nbsp;{% trans "Vorlage online bearbeiten" %}</a>
                            {% endif %}
                        </p>
                        {% if meeting.meetingtype.attendance %}
                            {% if meeting.meetingtype.attachment_protokoll %}
                                <p>
                                    <strong>{% trans "Anwesenheitsliste" %}/{% trans "Anhänge" %}:</strong>
                                    <a href="{% url "addattendees" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
                                    <a href="{% url "attachments" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "paperclip" %}&nbsp;{% trans "Anhänge hinzufügen/bearbeiten" %}</a>
                                </p>
                            {% else %}
                                <p>
                                    <strong>{% trans "Anwesenheitsliste" %}:</strong>
                                    <a href="{% url "addattendees" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
                                </p>
                            {% endif %}
                        {% else %}
                            {% if meeting.meetingtype.attachment_protokoll %}
                                <p>
                                    <strong>{% trans "Anhänge" %}:</strong>
                                    <a href="{% url "attachments" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "paperclip" %}&nbsp;{% trans "Anhänge hinzufügen/bearbeiten" %}</a>
                                </p>
                            {% endif %}
                        {% endif %}
                        <p>
                            <strong>{% trans "Protokoll bearbeiten" %}:</strong>
                            <a href="{% url "editprotokoll" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "copy" %}&nbsp;{% trans "Protokoll erstellen" %}</a>
                            {% if protokoll_exists %}
                                <a href="{% url "delprotokoll" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "trash" %}&nbsp;{% trans "Protokoll löschen" %}</a>
                                <a href="{% url "sendprotokoll" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "send" %}&nbsp;{% trans "Protokoll verschicken" %}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endif %} {% endif %}
    
        {% if not meeting.meetingtype.tops %}
        </div>
        <div class="col-sm-6">
        {% endif %}

            {% if not meeting.imported and attendees != None %}
                <div class="panel panel-custom">
                    <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#attendees-body">{% trans "Anwesenheitsliste" %} ({{ attendees|length }} {% trans "Personen anwesend" %})</div>
                    <ul class="list-group collapse in" id="attendees-body">
                        {% for attendee in attendees %}
                            <li class="list-group-item"><strong>{{ attendee.name }}</strong>{% if meeting.meetingtype.attendance_with_func %} {{ attendee.get_functions }}{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

