{% extends "toptool_common/base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time %}
            {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>
    
    {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
        <p><a href="{% url "editmeeting" meeting.id %}">{% trans "Sitzung bearbeiten" %}</a></p>
    {% endif %}
    {% if meeting.meetingtype.admin_permission in perms %}
        <p><a href="{% url "delmeeting" meeting.id %}">{% trans "Sitzung löschen" %}</a></p>
    {% endif %}
    
    <h2>{% trans "Details" %}</h2>
    <table>
        <tr> <td><strong>{% trans "Zeit" %}:</strong></td> <td>{{ meeting.time }}</td> </tr>
        <tr> <td><strong>{% trans "Raum" %}:</strong></td> <td>{{ meeting.room }}</td> </tr>
        <tr> <td><strong>{% trans "TOP-Deadline" %}:</strong></td>
            <td>{{ meeting.topdeadline }}</td> </tr>
        <tr> <td><strong>{% trans "Sitzungsleitung" %}:</strong></td>
            <td>{{ meeting.sl }}</td> </tr>
        <tr> <td><strong>{% trans "Protokollant" %}:</strong></td>
             <td>{{ meeting.pl }}</td> </tr>
        <tr> <td><strong>{% trans "Protokoll" %}:</strong></td>
            <td><a href="{% url "protokoll" meeting.id "html" %}">html</a>
                <a href="{% url "protokoll" meeting.id "pdf" %}">pdf</a>
                <a href="{% url "protokoll" meeting.id "txt" %}">txt</a></td>
            </tr>
    </table>
    
    <h2>{% trans "Tagesordnung" %}</h2>
    <ul>
    {% for top in tops %}
        <li><strong>{% trans "TOP" %} {{ top.topid }}: {{ top.title }}</strong> ({{ top.author }},
            {{ top.email }}):
            <p>{{ top.description }}</p>
            {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
                <p>(<a href="{% url "edittop" meeting.id top.topid%}">
                        {% trans "bearbeiten" %}</a>)
                   (<a href="{% url "deltop" meeting.id top.topid%}">
                        {% trans "löschen" %}</a>)
                </p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    
    {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
        <p><a href="{% url "sendtops" meeting.id %}">{% trans "Tagesordnung per E-Mail versenden" %}</a></p>
    {% endif %}
    <p><a href="{% url "addtop" meeting.id %}">{% trans "TOP hinzufügen" %}</a></p>
    {% if meeting.meetingtype.admin_permission in perms or user == meeting.sitzungsleitung %}
        <p><a href="{% url "deltop" meeting.id %}">{% trans "TOP(s) löschen" %}</a></p>
    {% endif %}
    
    <h2>{% trans "Anwesende" %}</h2>
    <ul>
    {% for attendee in attendees %}
        <li>{{ attendee }}</li>
    {% endfor %}
    </ul>
    
    <p><a href="{% url "viewmt" meeting.meetingtype.id %}">{% trans "zurück zur Übersicht" %}</a></p>
{% endblock %}

