<h1>{{ meeting.title }} am {{ meeting.time }}</H1>

<table>
    <tr> <td><strong>Zeit:</strong></td> <td>{{ meeting.time }}</td> </tr>
    <tr> <td><strong>Raum:</strong></td> <td>{{ meeting.room }}</td> </tr>
    <tr> <td><strong>TOP-Deadline:</strong></td>
        <td>{{ meeting.topdeadline }}</td> </tr>
    <tr> <td><strong>Sitzungsleitung:</strong></td>
         <td>{{ meeting.sitzungsleitung }}</td> </tr>
</table> 

<p><a href="{% url "viewtops" meeting.id %}">View TOPs</a></p>
<p><a href="{% url "addtop" meeting.id %}">Add TOP</a></p>
<p><a href="{% url "deltop" meeting.id %}">Delete TOP</a></p>


