{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "TOP eintragen" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            TOP eintragen für {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>
   
    {% if form %} 
        <form method="post" action="">
            {% csrf_token %}
    
            {% bootstrap_form form %}
    
            <table class="table">
                <tr>
                    <td><button type="submit" class="btn btn-default">{% trans "Eintragen" %}</button></td>
                    <td><a href="{% url "viewmeeting" meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
                </tr>
            </table>
        </form>
    {% else %}
        <p>{% trans "Die Deadline zum Eintragen von TOPs ist abgelaufen. Komm einfach zur Sitzung und trage dort deinen TOP vor oder trage ihn für die nächste Sitzung ein." %}</p>
        <p><a href="{% url "viewmeeting" meeting.id %}" class="btn btn-default">{% trans "zurück" %}</a></p>
    {% endif %}
    
{% endblock %}
