{% extends "toptool_common/base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time topid=top.topid %}
            TOP {{ topid }} löschen für {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>
    
    <ul>
        <li><strong>{% trans "TOP" %} {{ top.topid }}: {{ top.title }}</strong> ({{ top.author }}, {{ top.email }}):
        <p>{{ top.description }}</p></li>
    </ul>

    <p>
        {% blocktrans trimmed with topid=top.topid %}
            Soll der TOP {{ topid }} wirklich gelöscht werden?
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default">{% trans "Löschen" %}</button></td>
                <td><a href="{% url "viewmeeting" meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        <table>
    </form>
    
{% endblock %}
