{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load email_obfuscator %}

{% block title %}{{ meeting.meetingtype }} - {% trans "TOP löschen" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" topid=top.topid %}
            TOP {{ topid }} löschen für {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>
    
    <ul>
        <li><strong>{% trans "TOP" %} {{ top.topid }}: {{ top.title }}</strong>{%if top.author and top.email %} ({{ top.author }}, {{ top.email|obfuscate }}){% endif %}{% if top.description %}:{% endif %}
            <p>{{ top.description }}</p></li>
    </ul>

    <p>
        {% blocktrans trimmed with topid=top.topid %}
            Soll der TOP {{ topid }} wirklich gelöscht werden?
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default btn-danger">{% trans "Löschen" %}</button></td>
                <td><a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        <table>
    </form>
    
{% endblock %}
