{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Standard-TOP bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with name=meetingtype.name %}
            Standard-TOP bearbeiten für {{ name }}
        {% endblocktrans %}
    </h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <table class="table">
            <tr>
                <td><a href="{% url "delstdtop" meetingtype.id standardtop.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
                <td><button type="submit" class="btn btn-default">{% trans "Ändern" %}</button></td>
                <td><a href="{% url "liststdtops" meetingtype.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
