{% extends "toptool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "TOP bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            TOP bearbeiten für {{ title }} am {{ time }}
        {% endblocktrans %}
    </h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <table class="table">
            <tr>
                <td><a href="{% url "deltop" meeting.meetingtype.id meeting.id top.id %}" class="btn btn-default">{% trans "Löschen" %}</a></td>
                <td><button type="submit" class="btn btn-default">{% trans "Ändern" %}</button></td>
                <td><a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
