{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meetingtype }} - {% trans "Standard-TOP bearbeiten" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with name=meetingtype.name %}
            Standard-TOP bearbeiten für {{ name }}
        {% endblocktrans %}
    </h1>
    
    <form method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <div>
            <a href="{% url "delstdtop" meetingtype.id standardtop.id %}" class="btn btn-default asbtn-left">{% trans "Löschen" %}</a>
            <button type="submit" class="btn btn-default asbtn">{% trans "Ändern" %}</button>
            <a href="{% url "liststdtops" meetingtype.id %}" class="btn btn-default asbtn-right">{% trans "Abbrechen" %}</a>
        </div>
    </form>
{% endblock %}
