{% extends "base_with_ajax.html" %}
{% load i18n %}
{% load email_obfuscator %}

{% block title %}{{ meeting.meetingtype }} - {% trans "TOPs bearbeiten" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    TOPs für {{ title }} am {{ time }} bearbeiten
    {% endblocktrans %}
</h1>

<p>
    {% trans "Tipp: Du kannst die TOPs mit drag'n'drop umsortieren." %}
</p>

<ul
    id="sortable-ul"
    class="list-group"
>
    {% for top in tops %}
    <li
        id="top_{{ top.pk }}"
        class="list-group-item{% if top.topid >= 10000 %} ui-state-disabled{% endif %}"
    >
        <span class="list-group-item-heading"><strong>{% trans "TOP" %} {{ top.get_topid }}: {{ top.title }}</strong>{%if top.author and top.email %} ({{ top.author }}, {{ top.email|obfuscate }}){% endif %}{% if top.description %}:{% endif %}
            <a href="{% url "edit_top" top.id%}"><span class="bi bi-pencil-square"></span></a>
            <a href="{% url "del_top" top.id%}"><span class="bi bi-trash"></span></a>
        </span>
        <p class="list-group-item-text">{{ top.description|safe }}</p>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col-sm-2">
        <a
            href="{% url "add_top" meeting.id %}"
            class="btn btn-default"
        >{% trans "TOP hinzufügen" %}</a>
    </div>
    <div class="col-sm-2">
        <p><a
                href="{% url "view_meeting" meeting.id %}"
                class="btn btn-default"
            >{% trans "zurück" %}</a></p>
    </div>
</div>

<script>
    $(() => {
        $("#sortable-ul").sortable({
            items: "> li:not(.ui-state-disabled)",
            update: (event, ui) => {
                const arrayOrder = $("#sortable-ul").sortable("toArray");
                $.ajax({
                    type: "POST",
                    url: '{% url "sort_tops" meeting.id %}',
                    dataType: "json",
                    data: {
                        tops: arrayOrder
                    },
                    success: () => {
                        window.location.reload(true);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
