{% extends "base_with_ajax.html" %}
{% load i18n %}

{% block title %}{{ meetingtype }} - {% trans "Standard-TOPs bearbeiten" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with name=meetingtype.name %}
    Standard-TOPs bearbeiten für {{ name }}
    {% endblocktrans %}
</h1>

<p>
    {% trans "Tipp: Du kannst die TOPs mit drag'n'drop umsortieren." %}
</p>

<ul
    id="sortable-ul"
    class="list-group"
>
    {% for top in standardtops %}
    <li
        id="top_{{ top.pk }}"
        class="list-group-item"
    >
        <strong>{% trans "TOP" %} {{ forloop.counter }}: {{ top.title }}</strong>{% if top.description %}:{% endif %}
        <a href="{% url "edit_stdtop" top.id%}"><span class="bi bi-pencil-square"></span></a>
        <a href="{% url "del_stdtop" top.id%}"><span class="bi bi-trash"></span></a>
        <p>{{ top.description|safe }}</p>
    </li>
    {% endfor %}
</ul>
<div>
    <a
        href="{% url "edit_meetingtype" meetingtype.id %}"
        class="btn btn-default asbtn-left"
    >{% trans "zurück" %}</a>
    <a
        href="{% url "add_stdtop" meetingtype.id %}"
        class="btn btn-default asbtn-right"
    >{% trans "Standard-TOP hinzufügen" %}</a>
</div>

<script>
    $(() => {
        $("#sortable-ul").sortable({
            items: "> li",
            update: (event, ui) => {
                const arrayOrder = $("#sortable-ul").sortable("toArray");
                $.ajax({
                    type: "POST",
                    url: '{% url "sort_stdtops" meetingtype.id %}',
                    dataType: "json",
                    data: {
                        tops: arrayOrder
                    },
                    success: () => {
                        window.location.reload(true);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
