{% load i18n %}
{% load email_obfuscator %}

<h2>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Tagesordnung für {{ title }} am {{ time }}
    {% endblocktrans %}
</h2>

<ul>
    {% for counted_sort_id, top in tops_with_id %}
    <li><strong>{% trans "TOP" %} {{ counted_sort_id }}: {{ top.title }}</strong>{%if top.author and top.email %} ({{ top.author }}, {{ top.email|obfuscate }}){% endif %}{% if top.description %}:{% endif %}
        <p>{{ top.description|safe }}</p>
    </li>
    {% endfor %}
</ul>
