{% load i18n %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
        Tagesordnung für {{ title }} am {{ time }}
    {% endblocktrans %}
</h1>

<ul>
    {% for top in tops %}
        <li><strong>{% trans "TOP" %} {{ forloop.counter }}: {{ top.title }}</strong>{%if top.author and top.email %} ({{ top.author }}, {{ top.email }}){% endif %}{% if top.description %}:{% endif %}
            <p>{{ top.description }}</p>
        </li>
    {% endfor %}
</ul>
