{% load static %}
<link
    href="
{% if user.profile.darkmode %}{% static "toptool/css/colormode/darkmode.css" %}
{% else %}{% static "toptool/css/colormode/lightmode.css" %}{% endif %}"
    media="all"
    rel="stylesheet"
>

<link
    href="{% static "toptool/css/colors.css" %}"
    media="all"
    rel="stylesheet"
>

{% if user.is_authenticated %}
<style>
    :root {
        --bs-primary: {{ user.profile.color }};
        --bs-primary-contrast: {{ user.profile.contrast_hex }};
    }
</style>
{% endif %}
