html
{
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.navbar-custom {
    background-color: #337ab7;
    border: 3px solid #337ab7;
}

.navbar-custom li a, .navbar-custom li .btn-link, .navbar-custom p {
    color: white;
}

.navbar-custom li .btn-link {
    border: 2px solid white;
    border-left-width: 1px;
    border-right-width: 1px;
    text-decoration: none;
}

.navbar-custom li .btn-link.language-button-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left-width: 2px;
}

.navbar-custom li .btn-link.language-button-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right-width: 2px;
}

.navbar-custom li a.active, .navbar-custom li .btn-link.selected {
    color: #337ab7;
    background-color: white;
}

.navbar-custom li a:hover, .navbar-custom li .btn-link:hover {
    color: black;
    background-color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height:40px;
    text-align:center;
    background-color: #337ab7;
    color: #fff;
}

.footer .text-muted {
    margin: 10px 0;
    color: white;
}

.footer a, .footer a:hover, .footer a:active, .footer a:focus {
    color: white;
}

.django-ckeditor-widget {
    display: block !important;
}

/* required fields in form */
.form-group.required > label::after
{
    content: "*";
    color: red;
}

.asbtn, .asbtn-left, .asbtn-right {
    margin: 3px 5px;
    white-space: nowrap;
}

.asbtn-left {
    margin-left: 0;
}

.asbtn-right {
    margin-right: 0;
}


.btn-default {
    margin: 3px 10px;
}

.toprow {
    margin: 20px 0;
}

.panel-custom {
    border-color: #337ab7;
}

.panel-custom .panel-heading {
    background: #337ab7;
    font-weight: bold;
    color: #fff;
    border-color: #337ab7;
}

ul.ul-noindent {
    list-style-type: none;
    padding-left: 0;
}

ul.ul-nobullet {
    list-style-type: none;
}

ul .top-header {
    margin-left: -40px;
}

.table.table-panel {
    margin-bottom: 0px;
}
