:root {
    --main-color: #337ab7;
}

html
{
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height + extra 10 px*/
    margin-bottom: 60px;
}

/* navbar */
.navbar-custom {
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 0;
}

.navbar-custom li a {
    color: white;
}

.navbar-custom li p.navbar-text {
    color: white;
    padding: 0 15px;
}

.navbar-custom .btn-link {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.navbar-custom li a.active, .navbar-custom .btn-link.selected {
    color: var(--main-color);
    background-color: white;
}

.navbar-custom li a:hover, .navbar-custom .btn-link:hover {
    color: black;
    background-color: white;
}

.navbar-custom .navbar-toggle {
    color: white;
}

.navbar-custom.navbar-fixed-bottom {
    position: absolute;
}

.navbar-custom.navbar-fixed-bottom .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-custom.navbar-fixed-bottom .navbar-nav li {
    display: inline-block;
    float:none;
}

/* asbtn */
.asbtn, .asbtn-left, .asbtn-right {
    margin: 3px 5px;
    white-space: nowrap;
}

.asbtn-left {
    margin-left: 0;
}

.asbtn-right {
    margin-right: 0;
}

/* panel-custom */
.panel-custom {
    border-color: var(--main-color);
    border-width: 2px;
}

.panel-custom .panel-heading {
    background: var(--main-color);
    font-weight: bold;
    color: #fff;
    border-color: var(--main-color);
}

.panel-custom .panel-center {
    text-align: center;
}

.panel-custom .collapse-toggle {
    cursor: pointer;
}

.panel-custom .panel-table {
    margin-bottom: 0;
}

/* buttons */
.btn-default {
    background: var(--main-color);
    color: #fff;
    border-color: #fff;
}

.btn-default:active, .btn-default:hover {
    background: #fff;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* ul */
ul.ul-noindent {
    list-style-type: none;
    padding-left: 0;
}

/* various */
.django-ckeditor-widget {
    display: block !important;
}

/* required fields in form */
.form-group.required > label::after
{
    content: "*";
    color: red;
}

.toprow {
    margin: 20px 0;
}

.form-control {
    border-color: var(--main-color);
}

a {
    color: var(--main-color);
}

a:hover {
    color: black;
}

.profile-form .radio {
    display: inline-block;
}
