{% load active_link_tags %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load auth_methods %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    >
    {% include "snippets/favoticons.html" %}


    <link
        href='{% static "bootstrap/dist/css/bootstrap.min.css" %}'
        rel='stylesheet'
    >
    <link
        href='{% static "bootstrap-icons/font/bootstrap-icons.css" %}'
        rel='stylesheet'
    >

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "toptool/js/legacy/jquery-ui.min.js" %}"></script>
    <script src="{% static "toptool/js/legacy/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "toptool/js/legacy/bootstrap-duallistbox.min.js" %}"></script>

    <link
        href="{% static "toptool/css/legacy/jquery-ui.min.css" %}"
        media="all"
        rel="stylesheet"
    >
    <link
        href="{% static "toptool/css/legacy/jquery-ui.structure.min.css" %}"
        media="all"
        rel="stylesheet"
    >
    <link
        href="{% static "toptool/css/legacy/jquery.mCustomScrollbar.min.css" %}"
        media="all"
        rel="stylesheet"
    >
    <link
        href="{% static "toptool/css/legacy/bootstrap-duallistbox.min.css" %}"
        media="all"
        rel="stylesheet"
    >

    {% include "snippets/coloradjustments.html" %}

    <title>{% block title %}Meetingtool{% endblock %}</title>

    {% block head %}{% endblock %}
    {{ form.media }} {# Form required JS and CSS #}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-4 navbar-custom">
            <div class="container-fluid">
                <a
                    class="navbar-brand"
                    href={% url "main-view" %}
                ><span class="bi bi-calendar-week-fill"></span> Meetingtool</a>
                {# button to show menu on small devices#}
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                {# menu content #}
                <div
                    class="collapse navbar-collapse"
                    id="navbarNav"
                >
                    {# links to the apps' index pages #}
                    <nav class="navbar-nav me-auto">
                        {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <a
                            class="nav-link {% active_link "meetingtypes:list_meetingtypes" %}"
                            href="{% url "meetingtypes:list_meetingtypes" %}"
                        ><span class="bi bi-gear"></span>&nbsp;{% trans "Admin" %}</a>
                        {% endif %}
                        {% if meetingtypes|length != 1 %}
                        <a
                            class="nav-link {% active_link "meetingtypes:main_overview" %}"
                            href="{% url "meetingtypes:main_overview" %}"
                        >
                            <strong>
                                <span class="bi bi-house-door-fill"></span>&nbsp;{% trans "Übersicht" %}
                            </strong>
                        </a>
                        {% endif %}
                        {% for meetingtype in meetingtypes %}
                        <a
                            class="nav-link{% if meetingtype == active_meetingtype %} active{% endif %}"
                            href="{% url "meetingtypes:view_meetingtype" meetingtype.id %}"
                        >{{ meetingtype }}</a>
                        {% endfor %}
                        {% endif %}
                    </nav>

                    <div class="d-flex">
                        <nav class="navbar-nav me-2">
                            {# language chooser #}
                            <form
                                action="{% url "set_language" %}"
                                method="post"
                                role="form"
                            >
                                    {% csrf_token %}
                                    <input
                                        name="next"
                                        type="hidden"
                                        value=""
                                    />

                                    <div
                                        class="btn-group"
                                        role="group"
                                        aria-label="Language menu"
                                    >
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}

                                        {% for language in languages %}
                                        <button
                                            type="submit"
                                            name="language"
                                            value="{{ language.code }}"
                                            class="btn btn{% if language.code != LANGUAGE_CODE %}-outline{% endif %}-light"
                                        >
                                            {{ language.name_local }}
                                        </button>
                                        {% endfor %}
                                    </div>
                            </form>
                            {# end language chooser #}
                            {# profile #}
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a
                                    class="nav-link {% active_link "userprofile:edit_profile" %}"
                                    href="{% url "userprofile:edit_profile" %}"
                                >
                                    <span class="bi bi-person-fill"></span>
                                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                                </a>
                            </li>
                            {% endif %}
                            {# end proflie #}
                            {# login #}
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url "logout" %}"
                                >
                                    {# provide a Useful name, even if the User has not specified his first name #}
                                    {% if user.first_name %}
                                    {% blocktranslate trimmed with username=user.first_name|capfirst %}
                                    Log out {{ username }}
                                    {% endblocktranslate %}
                                    {% else %}
                                    {% blocktranslate trimmed with username=user.username|capfirst %}
                                    Log out {{ username }}
                                    {% endblocktranslate %}
                                    {% endif %}
                                </a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                {% get_keycloak_status as keycloak_status %}
                                <a
                                    class="nav-link"
                                    href="{% if keycloak_status %}{% url "oidc_authentication_init" %}{% else %}{% url "login" %}{% endif %}"
                                >{% trans "Login" %}</a>
                            </li>
                            {% endif %}
                            {# end login #}
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        {% block sidebar %}{% endblock %}
        <div class="container-fluid">
            {% if messages %}
            {% bootstrap_messages messages %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer navbar navbar-expand navbar-custom">
        <div class="container-lg">
            <ul class="navbar-nav text-nowrap overflow-auto mx-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://fs.tum.de/datenschutz/"
                    >{% trans "Datenschutz" %}</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://github.com/FSTUM/toptool-v2"
                    ><span class="bi bi-github"></span></a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://fs.tum.de/impressum/"
                    >{% trans "Impressum" %}</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>
