{% extends "base.html" %}

{% block head %}
<script>
    $(() => {
        function getCookie(name) {
            const cookies = document.cookie
                .split(';')
                .map((c) => c.trim())
                .filter((c) => c.startsWith(`${name}=`))
                .map((c) => c.split('=')[1]);
            return cookies.length > 0 ? decodeURIComponent(cookies[0]) : null;
        }

        const csrfToken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        $.ajaxSetup({
            beforeSend(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }
            },
        });
    });
</script>
{% endblock %}
