{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}Meetingtool - {% trans "Login" %}{% endblock %}

{% block content %}
<h1>{% trans "Login" %}</h1>

<form
    action="{% url "login" %}"
    method="post"
    accept-charset="utf-8"
    role="form"
>
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-xl-5">
            {% bootstrap_form form layout='floating' %}
        </div>
    </div>

    <input
        type="hidden"
        name="next"
        value="{{ next }}"
    />
    <input
        type="submit"
        value="{% trans "Login" %}"
        class="btn btn-primary"
    />
</form>
{% endblock %}
