{% extends "base_with_ajax.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Anhänge bearbeiten" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Anhänge zum Protokoll für {{ title }} am {{ time }} bearbeiten
    {% endblocktrans %}
</h1>

<p>
    {% blocktrans trimmed %}
    Hier kannst du Anhänge zum Protokoll hochladen und hochgeladene Anhänge sortieren, bearbeiten oder löschen.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed %}
    Um Anhänge im Protokoll zu verlinken, kannst du in der Protokoll-Vorlage die Syntax <code>[[ anhang 1 ]]</code> (für Anhang Nummer 1) verwenden.
    Dies fügt den Link zum jeweiligen Anhang mit dessen Namen ein.
    {% endblocktrans %}
</p>
<p>{% trans "Die nächsten Schritte sind:" %}</p>
<ol start=3>
    {% if meeting.meetingtype.attendance %}
    <li>
        <strong>{% trans "Anwesenheitsliste bearbeiten" %}:</strong>
        <a
            href="{% url "addattendees" meeting.meetingtype.id meeting.id %}"
            class="asbtn-right"
        >{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
    </li>
    {% endif %}
    <li>
        <strong>{% trans "Protokoll erstellen" %}:</strong>
        <a
            href="{% url "editprotokoll" meeting.id %}"
            class="asbtn-right"
        >{% bootstrap_icon "copy" %}&nbsp;{% trans "Protokoll erstellen" %}</a>
    </li>
    <li{% if not meeting.protokoll or meeting.protokoll.published %}
        class="disabled"
        {% endif %}
    >
        <strong>{% trans "Erstelltes Protokoll überprüfen" %}:</strong>
        <a
            class="asbtn"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "html" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} HTML</a>
        <a
            class="asbtn"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "pdf" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} PDF</a>
        <a
            class="asbtn-right"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "txt" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} TXT</a>
        </li>
        <li{% if not meeting.protokoll or meeting.protokoll.published %}
            class="disabled"
            {% endif %}
        >
            <strong>{% trans "Protokoll veröffentlichen" %}:</strong>
            <a
                href="{% url "publishprotokoll" meeting.id %}"
                class="asbtn-right"
            >{% bootstrap_icon "paste" %}&nbsp;{% trans "Protokoll veröffentlichen" %}</a>
            </li>
            {% if meeting.meetingtype.send_minutes_enabled %}
            <li{% if not meeting.protokoll.published %}
                class="disabled"
                {% endif %}
            >
                <strong>{% trans "Protokoll verschicken" %}:</strong>
                <a
                    href="{% url "sendprotokoll" meeting.id %}"
                    class="asbtn-right"
                >{% bootstrap_icon "send" %}&nbsp;{% trans "Protokoll verschicken" %}</a>
                </li>
                {% endif %}
</ol>


<form
    enctype="multipart/form-data"
    method="post"
    action=""
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <button
        type="submit"
        class="btn btn-default"
    >{% trans "Hinzufügen" %}</button>
</form>
<br />
<p>
    {% trans "Tipp: Du kannst die Anhänge mit drag'n'drop umsortieren." %}
    <noscript><strong>{% trans "Du musst dafür JavaScript aktivieren!" %}</strong></noscript>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="jsonly"></th>
            <th>{% trans "Nr" %}</th>
            <th>{% trans "Titel" %}</th>
            <th>{% trans "Datei" %}</th>
            <th>{% trans "Bearbeiten" %}</th>
        </tr>
    </thead>
    <tbody id="sortable-table">
        {% for attachment in attachments %}
        <tr id="attachment_{{ attachment.pk }}">
            <td class="jsonly"><span class="glyphicon glyphicon-sort sortable-handle"></span></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ attachment.name }}</td>
            <td><a href="{% url "showattachment_protokoll" meeting.id attachment.id %}"><span class="glyphicon glyphicon-file"></span>{% trans "Datei" %}</a></td>
            <td>
                <a
                    class="asbtn-left"
                    href="{% url "editattachment" meeting.id attachment.id%}"
                ><span class="glyphicon glyphicon-edit"></span><noscript>{% trans "bearbeiten" %}</noscript></a>
                <a
                    class="asbtn-right"
                    href="{% url "deleteattachment" meeting.id attachment.id%}"
                ><span class="glyphicon glyphicon-trash"></span><noscript>{% trans "löschen" %}</noscript></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a
        href="{% url "viewmeeting" meeting.id %}"
        class="btn btn-default"
    >{% trans "zurück" %}</a></p>

<script>
    $(() => {
        $("#sortable-table").sortable({
            handle: ".sortable-handle",
            update: (event, ui) => {
                const arrayOrder = $("#sortable-table").sortable("toArray");
                $.ajax({
                    type: "POST",
                    url: '{% url "sortattachments" meeting.id %}',
                    dataType: "json",
                    data: {
                        attachments: arrayOrder
                    },
                    success: () => {
                        window.location.reload(true);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
