{% extends "toptool_common/base.html" %}
{% load i18n %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Protokoll löschen" %}{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            Protokoll {{ title }} am {{ time }} löschen
        {% endblocktrans %}
    </h1>
    
    {% url "protokoll" meeting.meetingtype.id meeting.id "html" as showprotokoll %}
    <p>
        {% blocktrans trimmed with name=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" url=showprotokoll %}
        Soll das Protokoll <a href="{{ url }}">{{ name }} am {{ time }}</a> wirklich gelöscht werden? Dabei werden auch alle Protokolldatein gelöscht!
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default btn-danger">{% trans "Löschen" %}</button></td>
                <td><a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Abbrechen" %}</a></td>
            </tr>
        <table>
    </form>
    
{% endblock %}
