{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Anhang löschen" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Anhang zum Protokoll für {{ title }} am {{ time }} löschen
    {% endblocktrans %}
</h1>

<p>
    {% blocktrans trimmed with name=attachment.name url=attachment.attachment.url %}
    Soll der Anhang <a href="{{ url }}">{{ name }}</a> wirklich gelöscht werden?
    {% endblocktrans %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div>
        <button
            type="submit"
            class="btn btn-danger"
        >{% trans "Löschen" %}</button>
        <a
            href="{% url "protokolle:attachments" meeting.id %}"
            class="btn btn-secondary"
        >{% trans "Abbrechen" %}</a>
    </div>
</form>

{% endblock %}
