{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {{ meeting.meetingtype }} - {% trans "Protokoll erstellen" %}
{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            Protokoll {{ title }} am {{ time }} erstellen
        {% endblocktrans %}
    </h1>

    <p>
        {% if not meeting.protokoll %}
            {% if meeting.meetingtype.attendance and meeting.meetingtype.attachment_protokoll %}
                {% trans "Bevor das Protokoll erstellt wird, sollte die Anwesenheitsliste erstellt werden und ggf. Anhänge für das Protokoll hochgeladen werden:" %}
            {% elif meeting.meetingtype.attendance %}
                {% trans "Bevor das Protokoll erstellt wird, sollte die Anwesenheitsliste erstellt werden:" %}
            {% elif meeting.meetingtype.attachment_protokoll %}
                {% trans "Bevor das Protokoll erstellt wird, sollten ggf. Anhänge für das Protokoll hochgeladen werden:" %}
            {% endif %}
        {% endif %}
    </p>
    <p>
        {% if meeting.meetingtype.attendance %}
            <a href="{% url "addattendees" meeting.meetingtype.id meeting.id %}" class="asbtn">{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
        {% endif %}
        {% if meeting.meetingtype.attachment_protokoll %}
            <a href="{% url "attachments" meeting.meetingtype.id meeting.id %}" class="asbtn-right">{% bootstrap_icon "paperclip" %}&nbsp;{% trans "Anhänge hinzufügen/bearbeiten" %}</a>
        {% endif %}
    </p>

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
    
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-default btn-primary asbtn-left">{% trans "Erstellen" %}</button>
        <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default asbtn-right">{% trans "Abbrechen" %}</a>
    </form>
{% endblock %}
