{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {{ meeting.meetingtype }} - {% trans "Protokoll schreiben" %}
{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
            Protokoll für {{ title }} am {{ time }} schreiben
        {% endblocktrans %}
    </h1>

    <p>
        {% trans "Hier kann online am Protokoll geschrieben werden (auch gemeinsam). Unten kann ein anderer Text ins Pad geladen werden." %}
    </p>

    {% if url %}
        <iframe src="{{url}}{{meeting.pad}}?useMonospaceFont=true&showControls=false&userName={{user.first_name}}" style="height: 95%; width: 100%; min-height: 500px; display: block; margin:5px"></iframe>
    {% else %}
        <p>
            {% trans "Etherpad ist wegen einem Server-Fehler aktuell nicht verfügbar." %}
        </p>
    {% endif %}
    <p style="margin:10px 0;">
        <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default" style="margin-right:50px;">{% trans "Zurück" %}</a>
        {% if url %}
            <a href="{% url "editprotokoll" meeting.meetingtype.id meeting.id %}" class="btn btn-default">{% trans "Protokoll erstellen" %}</a>
        {% endif %}
    </p>

    {% if form %}
        <h2>{% trans "Anderen Text ins Pad laden" %}</h2>
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}

            {% bootstrap_form form %}

            <div>
                <button type="submit" class="btn btn-default asbtn-left">{% trans "Text laden" %}</button>
                <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default asbtn">{% trans "Zurück" %}</a>
                {% if url %}
                    <a href="{% url "editprotokoll" meeting.meetingtype.id meeting.id %}" class="btn btn-default asbtn-right">{% trans "Protokoll erstellen" %}</a>
                {% endif %}
            </div>
        </form>
    {% else %}
        <a href="{% url "viewmeeting" meeting.meetingtype.id meeting.id %}" class="btn btn-default asbtn-left asbtn-right">{% trans "Zurück" %}</a>
    {% endif %}

{% endblock %}
