{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Protokoll erstellt" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Protokoll {{ title }} am {{ time }} erstellt
    {% endblocktrans %}
</h1>

<p>
    {% blocktrans trimmed %}
    Du hast es fast geschafft.
    Das Protokoll wurde erfolgreich generiert.
    Bitte schaue dir die einzelnen Formate unten noch einmal an, ob alles so aussieht wie erwartet.
    Du kannst das Protokoll dann veröffentlichen und ggf. per E-Mail versenden:
    {% endblocktrans %}
</p>
<ol start={% if meeting.meetingtype.attendance and meeting.meetingtype.attachment_protokoll %}5{% elif meeting.meetingtype.attendance or meeting.meetingtype.attachment_protokoll %}4{% else %}3{% endif %}>
    <li{% if not meeting.protokoll or meeting.protokoll.published %}
        class="disabled"
        {% endif %}
    >
        <strong>{% trans "Erstelltes Protokoll überprüfen" %}:</strong>
        <a
            class="asbtn"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "html" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} HTML</a>
        <a
            class="asbtn"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "pdf" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} PDF</a>
        <a
            class="asbtn-right"
            href="{% url "protokoll" meeting.meetingtype.id meeting.id "txt" %}"
        >{% if meeting.protokoll.approved %}{% bootstrap_icon "floppy-saved" %}{% else %}{% bootstrap_icon "floppy-disk" %}{% endif %} TXT</a>
        </li>
        <li{% if not meeting.protokoll or meeting.protokoll.published %}
            class="disabled"
            {% endif %}
        >
            <strong>{% trans "Protokoll veröffentlichen" %}:</strong>
            <a
                href="{% url "publishprotokoll" meeting.meetingtype.id meeting.id %}"
                class="asbtn-right"
            >{% bootstrap_icon "paste" %}&nbsp;{% trans "Protokoll veröffentlichen" %}</a>
            </li>
            {% if meeting.meetingtype.send_minutes_enabled %}
            <li{% if not meeting.protokoll.published %}
                class="disabled"
                {% endif %}
            >
                <strong>{% trans "Protokoll verschicken" %}:</strong>
                <a
                    href="{% url "sendprotokoll" meeting.meetingtype.id meeting.id %}"
                    class="asbtn-right"
                >{% bootstrap_icon "send" %}&nbsp;{% trans "Protokoll verschicken" %}</a>
                </li>
                {% endif %}
</ol>
<p style="margin-top:20px;">
    {% trans "Wenn etwas im Protokoll noch nicht passt, kannst du zu einem der vorherigen Schritte zurückkehren:" %}
</p>
<ol>
    <li>
        <strong>{% trans "Protokoll schreiben" %}:</strong>
        {% if meeting.meetingtype.pad %}
        <ol type="a">
            <li>
                {% endif %}
                <a
                    href="{% url "templates" meeting.meetingtype.id meeting.id %}"
                    class="asbtn-right"
                >{% bootstrap_icon "save-file" %}&nbsp;{% trans "Vorlage herunterladen und offline bearbeiten" %}</a>
                {% if meeting.meetingtype.pad %}
                {% trans "oder" %}
            </li>
            <li>
                <a
                    href="{% url "pad" meeting.meetingtype.id meeting.id %}"
                    class="asbtn-right"
                >{% bootstrap_icon "cloud" %}&nbsp;{% trans "Protokoll online schreiben" %}</a>
            </li>
        </ol>
        {% endif %}
    </li>
    {% if meeting.meetingtype.attachment_protokoll %}
    <li>
        <strong>{% trans "Ggf. Anhänge hinzufügen" %}:</strong>
        <a
            href="{% url "attachments" meeting.meetingtype.id meeting.id %}"
            class="asbtn-right"
        >{% bootstrap_icon "paperclip" %}&nbsp;{% trans "Anhänge hinzufügen/bearbeiten" %}</a>
    </li>
    {% endif %}
    {% if meeting.meetingtype.attendance %}
    <li>
        <strong>{% trans "Anwesenheitsliste bearbeiten" %}:</strong>
        <a
            href="{% url "addattendees" meeting.meetingtype.id meeting.id %}"
            class="asbtn-right"
        >{% bootstrap_icon "user" %}&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
    </li>
    {% endif %}
    <li>
        <strong>{% trans "Protokoll erstellen" %}:</strong>
        <a
            href="{% url "editprotokoll" meeting.meetingtype.id meeting.id %}"
            class="asbtn-right"
        >{% bootstrap_icon "copy" %}&nbsp;{% trans "Protokoll erstellen" %}</a>
    </li>
</ol>
<a
    href="{% url "viewmeeting" meeting.id %}"
    class="btn btn-default asbtn-left"
>{% trans "zurück zur Sitzung" %}</a>
{% endblock %}
