{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{{ meeting.meetingtype }} - {% trans "Protokoll erstellt" %}{% endblock %}

{% block content %}
<h1>
    {% blocktrans trimmed with title=meeting.get_title time=meeting.time|date:"SHORT_DATETIME_FORMAT" %}
    Protokoll {{ title }} am {{ time }} erstellt
    {% endblocktrans %}
</h1>

<p>
    {% blocktrans trimmed %}
    Du hast es fast geschafft.
    Das Protokoll wurde erfolgreich generiert.
    Bitte schaue dir die einzelnen Formate unten noch einmal an, ob alles so aussieht wie erwartet.
    Du kannst das Protokoll dann veröffentlichen und ggf. per E-Mail versenden:
    {% endblocktrans %}
</p>
<ol start={% if meeting.meetingtype.attendance and meeting.meetingtype.attachment_protokoll %}5{% elif meeting.meetingtype.attendance or meeting.meetingtype.attachment_protokoll %}4{% else %}3{% endif %}>
    <li{% if not meeting.protokoll or meeting.protokoll.published %}
        class="disabled"
        {% endif %}
    >
        <strong>{% trans "Erstelltes Protokoll überprüfen" %}:</strong>
        <a
            class="asbtn"
            href="{% url "protokolle:show_protokoll" meeting.id "html" %}"
        >{% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} HTML</a>
        <a
            class="asbtn"
            href="{% url "protokolle:show_protokoll" meeting.id "pdf" %}"
        >{% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} PDF</a>
        <a
            class="asbtn-right"
            href="{% url "protokolle:show_protokoll" meeting.id "txt" %}"
        >{% if meeting.protokoll.approved %}<span class="bi bi-file-arrow-down"></span>{% else %}<span class="bi bi-cloud-check"></span>{% endif %} TXT</a>
        </li>
        <li{% if not meeting.protokoll or meeting.protokoll.published %}
            class="disabled"
            {% endif %}
        >
            <strong>{% trans "Protokoll veröffentlichen" %}:</strong>
            <a
                href="{% url "protokolle:publish_protokoll" meeting.id %}"
                class="asbtn-right"
            ><span class="bi bi-people"></span>&nbsp;{% trans "Protokoll veröffentlichen" %}</a>
            </li>
            {% if meeting.meetingtype.send_minutes_enabled %}
            <li{% if not meeting.protokoll.published %}
                class="disabled"
                {% endif %}
            >
                <strong>{% trans "Protokoll verschicken" %}:</strong>
                <a
                    href="{% url "protokolle:send_protokoll" meeting.id %}"
                    class="asbtn-right"
                ><span class="bi bi-send"></span>&nbsp;{% trans "Protokoll verschicken" %}</a>
                </li>
                {% endif %}
</ol>
<p style="margin-top:20px;">
    {% trans "Wenn etwas im Protokoll noch nicht passt, kannst du zu einem der vorherigen Schritte zurückkehren:" %}
</p>
<ol>
    <li>
        <strong>{% trans "Protokoll schreiben" %}:</strong>
        {% if meeting.meetingtype.pad %}
        <ol type="a">
            <li>
                {% endif %}
                <a
                    href="{% url "protokolle:templates" meeting.id %}"
                    class="asbtn-right"
                ><span class="bi bi-save"></span>&nbsp;{% trans "Vorlage herunterladen und offline bearbeiten" %}</a>
                {% if meeting.meetingtype.pad %}
                {% trans "oder" %}
            </li>
            <li>
                <a
                    href="{% url "protokolle:view_pad" meeting.id %}"
                    class="asbtn-right"
                ><span class="bi bi-cloud"></span>&nbsp;{% trans "Protokoll online schreiben" %}</a>
            </li>
        </ol>
        {% endif %}
    </li>
    {% if meeting.meetingtype.attachment_protokoll %}
    <li>
        <strong>{% trans "Ggf. Anhänge hinzufügen" %}:</strong>
        <a
            href="{% url "protokolle:attachments" meeting.id %}"
            class="asbtn-right"
        ><span class="bi bi-paperclip"></span>&nbsp;{% trans "Anhänge hinzufügen/bearbeiten" %}</a>
    </li>
    {% endif %}
    {% if meeting.meetingtype.attendance %}
    <li>
        <strong>{% trans "Anwesenheitsliste bearbeiten" %}:</strong>
        <a
            href="{% url "persons:add_attendees" meeting.id %}"
            class="asbtn-right"
        ><span class="bi bi-person-fill"></span>&nbsp;{% trans "Anwesenheitsliste bearbeiten" %}</a>
    </li>
    {% endif %}
    <li>
        <strong>{% trans "Protokoll erstellen" %}:</strong>
        <a
            href="{% url "protokolle:edit_protokoll" meeting.id %}"
            class="asbtn-right"
        ><span class="bi bi-file-pdf"></span>&nbsp;{% trans "Protokoll erstellen" %}</a>
    </li>
</ol>
<a
    href="{% url "meetings:view_meeting" meeting.id %}"
    class="btn btn-default asbtn-left"
>{% trans "zurück zur Sitzung" %}</a>
{% endblock %}
